{
    "openapi": "3.0.0",
    "info": {
        "title": "Medishop",
        "description": "Medishop Project",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.medishop.dworklabs.com/api/v1",
            "description": "Live API Server"
        },
        {
            "url": "http://192.168.100.23:8008/api/v1",
            "description": "Localhost API Server 1"
        },
        {
            "url": "http://127.0.0.1:8000/api/v1",
            "description": "Localhost API Server 2"
        }
    ],
    "paths": {
        "/admin/vendor": {
            "get": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Vendor list",
                "description": "Get vendor list.",
                "operationId": "VendorList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number of list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items on each page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "verified_vendors",
                        "in": "query",
                        "description": "Filter vendor lists based on verified/unverified(All -> 'All list', 1->verified, 0->unverified)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "All"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search vendor based on name/email",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "vendor"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "All vendor lists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "All vendor lists"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "user_uuid": {
                                                                "type": "string",
                                                                "format": "uuid",
                                                                "example": "42f9e1a0-0699-425e-af15-2b7485206e68"
                                                            },
                                                            "vendor_uuid": {
                                                                "type": "string",
                                                                "format": "uuid",
                                                                "example": "64cc5e61-c98f-41f7-997c-2b4fbedbf4dc"
                                                            },
                                                            "status": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "verified": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "vendor30956945"
                                                            },
                                                            "email": {
                                                                "type": "string",
                                                                "format": "email",
                                                                "example": "vendor30956945@gmail.com"
                                                            },
                                                            "mobile_number": {
                                                                "type": "string",
                                                                "example": "9808096921"
                                                            },
                                                            "store_name": {
                                                                "type": "string",
                                                                "example": "Oberbrunner PLC"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 30
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 30
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Register a vendor by admin",
                "description": "Save/Register an information of a vendor.",
                "operationId": "StoreVendor",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "store_name",
                                    "store_description",
                                    "location",
                                    "country",
                                    "state",
                                    "district",
                                    "municipality",
                                    "postal_code",
                                    "bank_name",
                                    "bank_account_holder_name",
                                    "bank_account_number",
                                    "vendor_citizenship_card",
                                    "vendor_business_license",
                                    "vendor_tax_certificate",
                                    "name",
                                    "email",
                                    "mobile_number"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Dave Chappelle"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "dev.chappelle@mailinator.com"
                                    },
                                    "mobile_number": {
                                        "type": "string",
                                        "example": "9452114525"
                                    },
                                    "store_name": {
                                        "type": "string",
                                        "example": "Lilly Lee Store"
                                    },
                                    "store_description": {
                                        "type": "string",
                                        "example": "Lilly Lee Store Description"
                                    },
                                    "location": {
                                        "type": "string",
                                        "example": "Maharajgunj"
                                    },
                                    "country": {
                                        "type": "string",
                                        "example": "Nepal"
                                    },
                                    "state": {
                                        "type": "string",
                                        "example": "Bagmati Province"
                                    },
                                    "district": {
                                        "type": "string",
                                        "example": "Kathmandu"
                                    },
                                    "municipality": {
                                        "type": "string",
                                        "example": "Budhanilkantha Municipality"
                                    },
                                    "postal_code": {
                                        "type": "string",
                                        "example": "4528"
                                    },
                                    "bank_name": {
                                        "type": "string",
                                        "example": "Laxmi Sunrise"
                                    },
                                    "bank_account_holder_name": {
                                        "type": "string",
                                        "example": "Laxmi Thapa"
                                    },
                                    "bank_account_number": {
                                        "type": "string",
                                        "example": "21547741201300157899"
                                    },
                                    "is_verified": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "vendor_citizenship_card": {
                                        "description": "Multiple image files to upload vendor citizenship card",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "vendor_business_license": {
                                        "description": "Multiple image files to upload vendor business license",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "vendor_tax_certificate": {
                                        "description": "Multiple image files to upload vendor tax certificate",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Vendor added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor added"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/vendor/{uuid}": {
            "get": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Vendor user show",
                "description": "Vendor user show.",
                "operationId": "VendorShow",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "User(vendor) uuid",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "c80dbce7-a3b5-476f-a618-4f59d4c8bdae"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vendor user detail",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor user detail"
                                        },
                                        "data": {
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "Dave Chappelle"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "dev.chappelle@mailinator.com"
                                                },
                                                "mobile_number": {
                                                    "type": "string",
                                                    "example": "9452114525"
                                                },
                                                "vendor_details": {
                                                    "properties": {
                                                        "is_verified": {
                                                            "type": "boolean",
                                                            "example": true
                                                        },
                                                        "store_name": {
                                                            "type": "string",
                                                            "example": "Lilly Lee Store"
                                                        },
                                                        "store_description": {
                                                            "type": "string",
                                                            "example": "Lilly Lee Store Description"
                                                        },
                                                        "location": {
                                                            "type": "string",
                                                            "example": "Maharajgunj"
                                                        },
                                                        "country": {
                                                            "type": "string",
                                                            "example": "Nepal"
                                                        },
                                                        "state": {
                                                            "type": "string",
                                                            "example": "Bagmati Province"
                                                        },
                                                        "district": {
                                                            "type": "string",
                                                            "example": "Kathmandu"
                                                        },
                                                        "municipality": {
                                                            "type": "string",
                                                            "example": "Budhanilkantha Municipality"
                                                        },
                                                        "postal_code": {
                                                            "type": "string",
                                                            "example": "4528"
                                                        },
                                                        "bank_name": {
                                                            "type": "string",
                                                            "example": "Laxmi Sunrise"
                                                        },
                                                        "bank_account_holder_name": {
                                                            "type": "string",
                                                            "example": "Laxmi Thapa"
                                                        },
                                                        "bank_account_number": {
                                                            "type": "string",
                                                            "example": "21547741201300156000"
                                                        },
                                                        "documents": {
                                                            "properties": {
                                                                "citizenship_card": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string",
                                                                        "format": "url",
                                                                        "example": "http://127.0.0.1:8000/storage/93/meadow-16044_1920.jpg"
                                                                    }
                                                                },
                                                                "tax_certificate": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string",
                                                                        "format": "url",
                                                                        "example": "http://127.0.0.1:8000/storage/95/lucas-k-wQLAGv4_OYs-unsplash.jpg"
                                                                    }
                                                                },
                                                                "business_license": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string",
                                                                        "format": "url",
                                                                        "example": "http://127.0.0.1:8000/storage/91/animal-4855514_1920.jpg"
                                                                    }
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Update a vendor by admin",
                "description": "Update information of a vendor.",
                "operationId": "UpdateVendor",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "User(vendor) uuid",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "c80dbce7-a3b5-476f-a618-4f59d4c8bdae"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "_method",
                                    "store_name",
                                    "store_description",
                                    "location",
                                    "country",
                                    "state",
                                    "district",
                                    "municipality",
                                    "postal_code",
                                    "bank_name",
                                    "bank_account_holder_name",
                                    "bank_account_number",
                                    "name",
                                    "email",
                                    "mobile_number"
                                ],
                                "properties": {
                                    "_method": {
                                        "type": "string",
                                        "example": "patch"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Dave Chappelle"
                                    },
                                    "mobile_number": {
                                        "type": "string",
                                        "example": "9452114525"
                                    },
                                    "store_name": {
                                        "type": "string",
                                        "example": "Lilly Lee Store"
                                    },
                                    "store_description": {
                                        "type": "string",
                                        "example": "Lilly Lee Store Description"
                                    },
                                    "location": {
                                        "type": "string",
                                        "example": "Maharajgunj"
                                    },
                                    "country": {
                                        "type": "string",
                                        "example": "Nepal"
                                    },
                                    "state": {
                                        "type": "string",
                                        "example": "Bagmati Province"
                                    },
                                    "district": {
                                        "type": "string",
                                        "example": "Kathmandu"
                                    },
                                    "municipality": {
                                        "type": "string",
                                        "example": "Budhanilkantha Municipality"
                                    },
                                    "postal_code": {
                                        "type": "string",
                                        "example": "4528"
                                    },
                                    "bank_name": {
                                        "type": "string",
                                        "example": "Laxmi Sunrise"
                                    },
                                    "bank_account_holder_name": {
                                        "type": "string",
                                        "example": "Laxmi Thapa"
                                    },
                                    "bank_account_number": {
                                        "type": "string",
                                        "example": "21547741201300157899"
                                    },
                                    "is_verified": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "vendor_citizenship_card": {
                                        "description": "Multiple image files to upload vendor citizenship card",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "vendor_business_license": {
                                        "description": "Multiple image files to upload vendor business license",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "vendor_tax_certificate": {
                                        "description": "Multiple image files to upload vendor tax certificate",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Vendor updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor updated successfully."
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Delete a vendor(soft).",
                "description": "Delete a vendor(soft).",
                "operationId": "VendorDelete",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the user(vendor) to delete",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Brand successfully deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor removed succesfully."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/vendor-verified-toggler/{uuid}": {
            "get": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Toggle vendor verification status",
                "description": "Toggle vendor verification status",
                "operationId": "VendorVerifierToggler",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Uuid of a user(vendor)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "ff5487b6-72f4-4a7f-bd0f-0abbde78db27"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vendor status updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor verification status changed to ACTIVE"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/brand": {
            "get": {
                "tags": [
                    "Brand"
                ],
                "summary": "Get all active/inactive brand",
                "description": "Get all active/inactive brand.",
                "operationId": "BrandList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number of list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items on each page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Toggle active/inactive brands(values: 0 and 1)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Active brand lists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Active brand lists"
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "pfizer"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Pfizer"
                                                            },
                                                            "image": {
                                                                "type": "string",
                                                                "format": "url",
                                                                "example": "http://192.168.100.23:8008/assets/img/default-brand-category.png"
                                                            },
                                                            "is_featured": {
                                                                "type": "boolean",
                                                                "example": false
                                                            },
                                                            "is_popular": {
                                                                "type": "boolean",
                                                                "example": true
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 26
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 26
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Brand"
                ],
                "summary": "Store a product brand",
                "description": "Store a product brand.",
                "operationId": "StoreBrand",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "image"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Merck"
                                    },
                                    "image": {
                                        "description": "Brand image",
                                        "type": "file",
                                        "format": "binary"
                                    },
                                    "is_featured": {
                                        "description": "Indicates if the brand is featured",
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "is_popular": {
                                        "description": "Indicates if the brand is popular",
                                        "type": "boolean",
                                        "example": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Vendor added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Brand added successfully."
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/brand/{slug}": {
            "get": {
                "tags": [
                    "Brand"
                ],
                "summary": "Show an active brand",
                "description": "Show an active brand.",
                "operationId": "BrandShow",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of brand",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "sun-pharma"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Showing brand",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Showing brand"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "sun-pharma"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Sun Pharma"
                                                },
                                                "image": {
                                                    "type": "string",
                                                    "format": "url",
                                                    "example": "http://127.0.0.1:8000/assets/img/default-brand-category.png"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/brand/{brand}": {
            "post": {
                "tags": [
                    "Brand"
                ],
                "summary": "Update brand based on ID",
                "description": "Update brand based on ID",
                "operationId": "BrandUpdate",
                "parameters": [
                    {
                        "name": "brand",
                        "in": "path",
                        "description": "Brand ID of a brand",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "_method"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Merck"
                                    },
                                    "_method": {
                                        "type": "string",
                                        "example": "patch"
                                    },
                                    "image": {
                                        "description": "Brand image",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "is_featured": {
                                        "description": "Indicates if the brand is featured",
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "is_popular": {
                                        "description": "Indicates if the brand is popular",
                                        "type": "boolean",
                                        "example": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Vendor added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Brand updated successfully."
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Brand"
                ],
                "summary": "Delete a brand(soft).",
                "description": "Delete a brand(soft).",
                "operationId": "BrandDelete",
                "parameters": [
                    {
                        "name": "brand",
                        "in": "path",
                        "description": "ID of the brand to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Brand successfully deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Brand removed successfully."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/toggle-brand-status/{brand}": {
            "get": {
                "tags": [
                    "Brand"
                ],
                "summary": "Toggle brand status",
                "description": "Toggle brand status.",
                "operationId": "BrandStatusToggle",
                "parameters": [
                    {
                        "name": "brand",
                        "in": "path",
                        "description": "Slug of brand",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "sunovion"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Brand status changed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Brand status changed to ACTIVE"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/category": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Get all active/inactive category",
                "description": "Get all active/inactive category.",
                "operationId": "CategoryList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number of list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items on each page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Toggle active/inactive categories(values: 0 and 1)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Active category lists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Active category lists"
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "pain-relief"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Pain Relief"
                                                            },
                                                            "image": {
                                                                "type": "string",
                                                                "format": "url",
                                                                "example": "http://127.0.0.1:8000/assets/img/default-brand-category.png"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 6
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Category"
                ],
                "summary": "Store a product category",
                "description": "Store a product category.",
                "operationId": "StoreCategory",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "image"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Merck"
                                    },
                                    "image": {
                                        "description": "Category image",
                                        "type": "file",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Category create response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Category added successfully."
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/category/{slug}": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Show an active category",
                "description": "Show an active category.",
                "operationId": "CategoryShow",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of category",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "skin-care"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Showing category",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Showing category"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "skin-care"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Skin Care"
                                                },
                                                "image": {
                                                    "type": "string",
                                                    "format": "url",
                                                    "example": "http://127.0.0.1:8000/assets/img/default-brand-category.png"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/category/{category}": {
            "post": {
                "tags": [
                    "Category"
                ],
                "summary": "Update category based on ID",
                "description": "Update category based on ID",
                "operationId": "CategoryUpdate",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "description": "Category id of category",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "_method"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Merck"
                                    },
                                    "_method": {
                                        "type": "string",
                                        "example": "patch"
                                    },
                                    "image": {
                                        "description": "Brand image",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Category update response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Category updated successfully."
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Category"
                ],
                "summary": "Delete a category(soft).",
                "description": "Delete a category(soft).",
                "operationId": "CategoryDelete",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "description": "ID of the category to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category successfully deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Category removed successfully."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/toggle-category-status/{category}": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Toggle category status",
                "description": "Toggle category status.",
                "operationId": "CategoryStatusToggle",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "description": "Slug of category",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "kidney-liver-care"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category status changed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Category status changed to ACTIVE"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/product": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get all active/inactive product",
                "description": "Get all active/inactive product.",
                "operationId": "ProductList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number of list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items on each page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Toggle active/inactive brands(values: 0, 1, blank)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search product based on name",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "benedril"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Admin published product list.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Admin published product list."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "uuid": {
                                                                "type": "string",
                                                                "format": "uuid",
                                                                "example": "7974511b-6bd7-42b9-81bc-00d519e37af1"
                                                            },
                                                            "published": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Sure Grow Procapil Scalp Solution - Hair Serum - 60ml"
                                                            },
                                                            "brand": {
                                                                "type": "string",
                                                                "example": "Bayer"
                                                            },
                                                            "lowest_variant_price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 1500
                                                            },
                                                            "total_stock": {
                                                                "type": "integer",
                                                                "example": 0
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 103
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 103
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/product/{uuid}": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Show product",
                "description": "Show product.",
                "operationId": "ProductShow",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Uuid of product",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "1b01cd1a-27d4-4dc1-bf0e-a572ce0aa581"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Showing brand",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Showing brand"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "sun-pharma"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Sun Pharma"
                                                },
                                                "image": {
                                                    "type": "string",
                                                    "format": "url",
                                                    "example": "http://127.0.0.1:8000/assets/img/default-brand-category.png"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Product"
                ],
                "summary": "Delete a product(soft).",
                "description": "Delete a product(soft).",
                "operationId": "ProductDelete",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "ID of the product to delete",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category successfully deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Product removed successfully.."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/toggle-product-status/{uuid}": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Change product published product",
                "description": "Change product published product.",
                "operationId": "ProductToggleStatus",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Uuid of product",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "1b01cd1a-27d4-4dc1-bf0e-a572ce0aa581"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Showing brand",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Showing brand"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "sun-pharma"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Sun Pharma"
                                                },
                                                "image": {
                                                    "type": "string",
                                                    "format": "url",
                                                    "example": "http://127.0.0.1:8000/assets/img/default-brand-category.png"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/product-media/{uuid}": {
            "post": {
                "tags": [
                    "Product"
                ],
                "summary": "Add product medias(featured/gallery)",
                "description": "Add product medias(featured/gallery).",
                "operationId": "AddProductMedia",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of product",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "123e4567-e89b-12d3-a456-426614174000"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "featured_image",
                                    "gallery_images[]"
                                ],
                                "properties": {
                                    "featured_image": {
                                        "description": "Main/featured image of product",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "gallery_images[]": {
                                        "description": "Additional gallery images (multiple allowed)",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        },
                                        "collectionFormat": "multi"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Product media added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Media saved successfully of product: Product Name."
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/tag": {
            "get": {
                "tags": [
                    "Tag"
                ],
                "summary": "Get all active/inactive tag",
                "description": "Get all active/inactive tag.",
                "operationId": "TagList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number of list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items on each page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Toggle active/inactive tags(values: 0 and 1)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Active/Inactive tag list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Active tag lists"
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 8
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "vitamin-c"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Vitamin C"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 4
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 4
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
[...]
