{
    "openapi": "3.0.0",
    "info": {
        "title": "Medishop",
        "description": "Medishop Project",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.medishop.dworklabs.com/api/v1",
            "description": "Live API Server"
        },
        {
            "url": "http://192.168.100.23:8008/api/v1",
            "description": "Localhost API Server 1"
        },
        {
            "url": "http://127.0.0.1:8000/api/v1",
            "description": "Localhost API Server 2"
        },
        {
            "url": "http://192.168.100.18:8000/api/v1",
            "description": "Localhost API Server 3"
        }
    ],
    "paths": {
        "/admin/vendor": {
            "get": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Vendor list",
                "description": "Get vendor list.",
                "operationId": "VendorList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number of list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items on each page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "verified_vendors",
                        "in": "query",
                        "description": "Filter vendor lists based on verified/unverified(All -> 'All list', 1->verified, 0->unverified)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "All"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search vendor based on name/email",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "vendor"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "All vendor lists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "All vendor lists"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "user_uuid": {
                                                                "type": "string",
                                                                "format": "uuid",
                                                                "example": "42f9e1a0-0699-425e-af15-2b7485206e68"
                                                            },
                                                            "vendor_uuid": {
                                                                "type": "string",
                                                                "format": "uuid",
                                                                "example": "64cc5e61-c98f-41f7-997c-2b4fbedbf4dc"
                                                            },
                                                            "account_status": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "email_verified": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "vendor30956945"
                                                            },
                                                            "email": {
                                                                "type": "string",
                                                                "format": "email",
                                                                "example": "vendor30956945@gmail.com"
                                                            },
                                                            "mobile_number": {
                                                                "type": "string",
                                                                "example": "9808096921"
                                                            },
                                                            "store_name": {
                                                                "type": "string",
                                                                "example": "Oberbrunner PLC"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 30
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 30
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Register a vendor by admin",
                "description": "Save/Register an information of a vendor.",
                "operationId": "StoreVendor",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "store_name",
                                    "store_description",
                                    "location",
                                    "country",
                                    "state",
                                    "district",
                                    "municipality",
                                    "postal_code",
                                    "bank_name",
                                    "bank_account_holder_name",
                                    "bank_account_number",
                                    "account_status",
                                    "vendor_citizenship_card",
                                    "vendor_business_license",
                                    "vendor_tax_certificate",
                                    "name",
                                    "email",
                                    "mobile_number"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Dave Chappelle"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "dev.chappelle@mailinator.com"
                                    },
                                    "mobile_number": {
                                        "type": "string",
                                        "example": "9452114525"
                                    },
                                    "store_name": {
                                        "type": "string",
                                        "example": "Lilly Lee Store"
                                    },
                                    "store_description": {
                                        "type": "string",
                                        "example": "Lilly Lee Store Description"
                                    },
                                    "location": {
                                        "type": "string",
                                        "example": "Maharajgunj"
                                    },
                                    "country": {
                                        "type": "string",
                                        "example": "Nepal"
                                    },
                                    "state": {
                                        "type": "string",
                                        "example": "Bagmati Province"
                                    },
                                    "district": {
                                        "type": "string",
                                        "example": "Kathmandu"
                                    },
                                    "municipality": {
                                        "type": "string",
                                        "example": "Budhanilkantha Municipality"
                                    },
                                    "postal_code": {
                                        "type": "string",
                                        "example": "4528"
                                    },
                                    "bank_name": {
                                        "type": "string",
                                        "example": "Laxmi Sunrise"
                                    },
                                    "bank_account_holder_name": {
                                        "type": "string",
                                        "example": "Laxmi Thapa"
                                    },
                                    "bank_account_number": {
                                        "type": "string",
                                        "example": "21547741201300157899"
                                    },
                                    "account_status": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "vendor_citizenship_card": {
                                        "description": "Multiple image files to upload vendor citizenship card",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "vendor_business_license": {
                                        "description": "Multiple image files to upload vendor business license",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "vendor_tax_certificate": {
                                        "description": "Multiple image files to upload vendor tax certificate",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Vendor added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor added"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/vendor/{uuid}": {
            "get": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Vendor user show",
                "description": "Vendor user show.",
                "operationId": "VendorShow",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "User(vendor) uuid",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "c80dbce7-a3b5-476f-a618-4f59d4c8bdae"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vendor user detail",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor user detail"
                                        },
                                        "data": {
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "Dave Chappelle"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "dev.chappelle@mailinator.com"
                                                },
                                                "mobile_number": {
                                                    "type": "string",
                                                    "example": "9452114525"
                                                },
                                                "vendor_details": {
                                                    "properties": {
                                                        "email_verified": {
                                                            "type": "boolean",
                                                            "example": true
                                                        },
                                                        "status": {
                                                            "type": "boolean",
                                                            "example": true
                                                        },
                                                        "store_name": {
                                                            "type": "string",
                                                            "example": "Lilly Lee Store"
                                                        },
                                                        "store_description": {
                                                            "type": "string",
                                                            "example": "Lilly Lee Store Description"
                                                        },
                                                        "location": {
                                                            "type": "string",
                                                            "example": "Maharajgunj"
                                                        },
                                                        "country": {
                                                            "type": "string",
                                                            "example": "Nepal"
                                                        },
                                                        "state": {
                                                            "type": "string",
                                                            "example": "Bagmati Province"
                                                        },
                                                        "district": {
                                                            "type": "string",
                                                            "example": "Kathmandu"
                                                        },
                                                        "municipality": {
                                                            "type": "string",
                                                            "example": "Budhanilkantha Municipality"
                                                        },
                                                        "postal_code": {
                                                            "type": "string",
                                                            "example": "4528"
                                                        },
                                                        "bank_name": {
                                                            "type": "string",
                                                            "example": "Laxmi Sunrise"
                                                        },
                                                        "bank_account_holder_name": {
                                                            "type": "string",
                                                            "example": "Laxmi Thapa"
                                                        },
                                                        "bank_account_number": {
                                                            "type": "string",
                                                            "example": "21547741201300156000"
                                                        },
                                                        "documents": {
                                                            "properties": {
                                                                "citizenship_card": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string",
                                                                        "format": "url",
                                                                        "example": "http://127.0.0.1:8000/storage/93/meadow-16044_1920.jpg"
                                                                    }
                                                                },
                                                                "tax_certificate": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string",
                                                                        "format": "url",
                                                                        "example": "http://127.0.0.1:8000/storage/95/lucas-k-wQLAGv4_OYs-unsplash.jpg"
                                                                    }
                                                                },
                                                                "business_license": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string",
                                                                        "format": "url",
                                                                        "example": "http://127.0.0.1:8000/storage/91/animal-4855514_1920.jpg"
                                                                    }
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Update a vendor by admin",
                "description": "Update information of a vendor.",
                "operationId": "UpdateVendor",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "User(vendor) uuid",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "c80dbce7-a3b5-476f-a618-4f59d4c8bdae"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "_method",
                                    "store_name",
                                    "store_description",
                                    "location",
                                    "country",
                                    "state",
                                    "district",
                                    "municipality",
                                    "postal_code",
                                    "bank_name",
                                    "bank_account_holder_name",
                                    "bank_account_number",
                                    "account_status",
                                    "name",
                                    "mobile_number"
                                ],
                                "properties": {
                                    "_method": {
                                        "type": "string",
                                        "example": "patch"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Dave Chappelle"
                                    },
                                    "mobile_number": {
                                        "type": "string",
                                        "example": "9452114525"
                                    },
                                    "store_name": {
                                        "type": "string",
                                        "example": "Lilly Lee Store"
                                    },
                                    "store_description": {
                                        "type": "string",
                                        "example": "Lilly Lee Store Description"
                                    },
                                    "location": {
                                        "type": "string",
                                        "example": "Maharajgunj"
                                    },
                                    "country": {
                                        "type": "string",
                                        "example": "Nepal"
                                    },
                                    "state": {
                                        "type": "string",
                                        "example": "Bagmati Province"
                                    },
                                    "district": {
                                        "type": "string",
                                        "example": "Kathmandu"
                                    },
                                    "municipality": {
                                        "type": "string",
                                        "example": "Budhanilkantha Municipality"
                                    },
                                    "postal_code": {
                                        "type": "string",
                                        "example": "4528"
                                    },
                                    "bank_name": {
                                        "type": "string",
                                        "example": "Laxmi Sunrise"
                                    },
                                    "bank_account_holder_name": {
                                        "type": "string",
                                        "example": "Laxmi Thapa"
                                    },
                                    "bank_account_number": {
                                        "type": "string",
                                        "example": "21547741201300157899"
                                    },
                                    "account_status": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "vendor_citizenship_card": {
                                        "description": "Multiple image files to upload vendor citizenship card",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "vendor_business_license": {
                                        "description": "Multiple image files to upload vendor business license",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "vendor_tax_certificate": {
                                        "description": "Multiple image files to upload vendor tax certificate",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Vendor updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor updated successfully."
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Delete a vendor(soft).",
                "description": "Delete a vendor(soft).",
                "operationId": "VendorDelete",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the user(vendor) to delete",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Brand successfully deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor removed succesfully."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/vendor-verified-toggler/{uuid}": {
            "get": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Toggle vendor verification status",
                "description": "Toggle vendor verification status",
                "operationId": "VendorVerifierToggler",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Uuid of a user(vendor)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "ff5487b6-72f4-4a7f-bd0f-0abbde78db27"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vendor status updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor verification status changed to ACTIVE"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/fetch-vendor-products/{uuid}": {
            "get": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Vendors product list",
                "description": "Get vendor product list.",
                "operationId": "VendorProductList",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of user(vendor)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "0eebfe00-8bfd-4957-9947-503731e37a33"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vendor product lists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor product lists"
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "vendor_status": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "approved": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "product_name": {
                                                                "type": "string",
                                                                "example": "Soluta aut voluptas voluptatem beatae."
                                                            },
                                                            "product_variants": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "price": {
                                                                            "type": "number",
                                                                            "format": "float",
                                                                            "example": 4335
                                                                        },
                                                                        "units_in_stock": {
                                                                            "type": "integer",
                                                                            "example": 69
                                                                        },
                                                                        "variation_name": {
                                                                            "type": "string",
                                                                            "example": "Variant-2"
                                                                        },
                                                                        "variation_size_value": {
                                                                            "type": "integer",
                                                                            "example": 200
                                                                        },
                                                                        "variation_size_unit": {
                                                                            "type": "string",
                                                                            "example": "capsule"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 1
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/banner": {
            "get": {
                "tags": [
                    "Banner"
                ],
                "summary": "Get all banners",
                "description": "Get all banners.",
                "operationId": "BannerList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number of list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items on each page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Toggle active/inactive brands(values: 0 and 1)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search banner based on title.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "banner title"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of banners.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "List of banners."
                                        },
                                        "data": {
                                            "properties": {
                                                "data": {
                                                    "properties": {
                                                        "items": {
                                                            "type": "array",
                                                            "items": {
                                                                "properties": {
                                                                    "uuid": {
                                                                        "type": "string",
                                                                        "example": "8fb81300-fe6b-43b6-9ecb-d20e76290043"
                                                                    },
                                                                    "display_status": {
                                                                        "type": "boolean",
                                                                        "example": true
                                                                    },
                                                                    "order": {
                                                                        "type": "integer",
                                                                        "example": 1
                                                                    },
                                                                    "title": {
                                                                        "type": "string",
                                                                        "example": "Look, a banner!",
                                                                        "nullable": true
                                                                    },
                                                                    "url": {
                                                                        "type": "string",
                                                                        "example": "https://inboxes.com/",
                                                                        "nullable": true
                                                                    },
                                                                    "image": {
                                                                        "type": "string",
                                                                        "format": "url",
                                                                        "example": "http://192.168.100.23:8008/storage/2643/sunset-7007680_1920.jpg"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "page": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "total_page": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "total_items": {
                                                            "type": "integer",
                                                            "example": 3
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Banner"
                ],
                "summary": "Create a new banner",
                "description": "Create a new banner.",
                "operationId": "BannerStore",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "image"
                                ],
                                "properties": {
                                    "order": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "title": {
                                        "type": "string",
                                        "example": "title of a banner."
                                    },
                                    "url": {
                                        "type": "string",
                                        "example": "https://www.youtube.com/"
                                    },
                                    "image": {
                                        "description": "Required image of the banner.",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Banner added successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "banner added successfully"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/banner/{uuid}": {
            "get": {
                "tags": [
                    "Banner"
                ],
                "summary": "Get a banner",
                "description": "Get a banner.",
                "operationId": "BannerShow",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of a banner",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fetched banner successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "fetched banner successfully."
                                        },
                                        "data": {
                                            "properties": {
                                                "uuid": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "example": "cdc7d89e-2210-4e7e-9b69-0e536bea7b1a"
                                                },
                                                "display_status": {
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "order": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Look a banner!"
                                                },
                                                "url": {
                                                    "type": "string",
                                                    "example": "https://inboxes.com/"
                                                },
                                                "image": {
                                                    "type": "string",
                                                    "example": "http://192.168.100.23:8008/storage/2643/sunset-7007680_1920.jpg"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Banner"
                ],
                "summary": "Update banner based on UUID",
                "description": "Update a banner by its UUID.",
                "operationId": "BannerUpdate",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the banner to update",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "8fb81300-fe6b-43b6-9ecb-d20e76290043"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "_method"
                                ],
                                "properties": {
                                    "_method": {
                                        "description": "Used when the route expects PATCH method but form submits as POST.",
                                        "type": "string",
                                        "example": "PATCH"
                                    },
                                    "order": {
                                        "description": "Display order of the banner.",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "title": {
                                        "description": "Title of the banner.",
                                        "type": "string",
                                        "example": "Updated banner title."
                                    },
                                    "url": {
                                        "description": "Clickable URL of the banner.",
                                        "type": "string",
                                        "example": "https://www.youtube.com/"
                                    },
                                    "image": {
                                        "description": "Image file for the banner.",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Banner updated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Banner updated successfully."
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Banner"
                ],
                "summary": "Delete a banner.",
                "description": "Delete a banner.",
                "operationId": "BannerDelete",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the banner to delete",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Banner has been deleted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Banner has been deleted."
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/toggle-banner-status/{uuid}": {
            "get": {
                "tags": [
                    "Banner"
                ],
                "summary": "Toggle banner visibility status",
                "description": "Toggle banner visibility status.",
                "operationId": "BannerVisibilityToggle",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of banner",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Brand status changed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Banner status changed to ACTIVE"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/clientfeedback": {
            "get": {
                "tags": [
                    "Feedback"
                ],
                "summary": "Get list of client feedback",
                "description": "Retrieve a paginated list of client feedback with optional search by user's name or email.",
                "operationId": "getClientFeedback",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of feedback items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search feedback by user's name or email",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of Client Feedback",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "List of Client Feedback"
                                        },
                                        "data": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 25
                                                },
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 12
                                                            },
                                                            "feedback": {
                                                                "type": "string",
                                                                "example": "Great service, thank you!"
                                                            },
                                                            "rating": {
                                                                "type": "integer",
                                                                "example": 5
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-11-13T09:25:00Z"
                                                            },
                                                            "user": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 5
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "example": "John Doe"
                                                                    },
                                                                    "email": {
                                                                        "type": "string",
                                                                        "example": "johndoe@example.com"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/prescription": {
            "get": {
                "tags": [
                    "Prescriptions"
                ],
                "summary": "Get list of prescriptions",
                "description": "Returns paginated list of prescriptions. Can search by user name or email.",
                "operationId": "getPrescriptions",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by user name or email",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Prescription list"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Eye prescription"
                                                    },
                                                    "prescription_image": {
                                                        "type": "string",
                                                        "example": "https://example.com/image.png"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2025-11-27 09:00:00"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "example": "2025-11-27 09:00:00"
                                                    },
                                                    "user": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "John Doe"
                                                            },
                                                            "email": {
                                                                "type": "string",
                                                                "example": "john@example.com"
                                                            },
                                                            "mobile_number": {
                                                                "type": "string",
                                                                "example": "+9779812345678"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/prescription/{id}": {
            "delete": {
                "tags": [
                    "Prescriptions"
                ],
                "summary": "Delete a prescription",
                "description": "Deletes a prescription by ID.",
                "operationId": "deletePrescription",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the prescription",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Prescription deleted successfully"
                    },
                    "404": {
                        "description": "Prescription not found"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/package": {
            "get": {
                "tags": [
                    "Package"
                ],
                "summary": "Get all active/inactive package",
                "description": "Get all active/inactive package.",
                "operationId": "packageList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number of list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items on each page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Toggle active/inactive brands(values: 0, 1, blank)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search product based on name",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "benedril"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Admin published product list.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Admin published product list."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "Package_name": {
                                                                "type": "string",
                                                                "example": "Super package"
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "super-package"
                                                            },
                                                            "description": {
                                                                "type": "string",
                                                                "example": "Sure Grow Procapil Scalp Solution - Hair Serum - 60ml"
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "example": 5000
                                                            },
                                                            "discount_percent": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 10
                                                            },
                                                            "rating": {
                                                                "type": "number",
                                                                "example": 5
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 103
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 103
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Package"
                ],
                "summary": "Create a new package",
                "description": "Create a new package with name, description, pricing, and optional images.",
                "operationId": "cb48d8c4ef4b2a3cc6dde51ca40150cf",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "description",
                                    "price",
                                    "status",
                                    "featured_image"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Summer Deal Package"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "A special summer package with discounted products."
                                    },
                                    "price": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 4999.99
                                    },
                                    "discount_percent": {
                                        "description": "Optional discount percentage",
                                        "type": "number",
                                        "format": "float",
                                        "example": 10,
                                        "nullable": true
                                    },
                                    "status": {
                                        "description": "Package status (true = active, false = inactive)",
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "featured_image": {
                                        "description": "Required featured image of the package",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "gallery_images": {
                                        "description": "Optional array of gallery images",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        },
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Package created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Package added successfully."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/package/{slug}/add-product": {
            "post": {
                "tags": [
                    "Package"
                ],
                "summary": "Add products to a package",
                "description": "Attach one or more product variations to an existing package. The package is identified by its slug.",
                "operationId": "23d67794bb8bb7583549eeaecff3603b",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of the package to which products will be added",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "summer-deal-package"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "products"
                                ],
                                "properties": {
                                    "products": {
                                        "description": "List of products to attach to the package",
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "product_variation_id",
                                                "quantity"
                                            ],
                                            "properties": {
                                                "product_variation_id": {
                                                    "description": "The ID of the product variation",
                                                    "type": "integer",
                                                    "example": 12
                                                },
                                                "quantity": {
                                                    "description": "Quantity of this product in the package",
                                                    "type": "integer",
                                                    "example": 3
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Products added to package successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Products added successfully."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Package not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/package/{package}": {
            "get": {
                "tags": [
                    "Package"
                ],
                "summary": "Get package details",
                "description": "Retrieve details of a single package including associated products, variants, media, categories, and brand.",
                "operationId": "b2edb6eff3553886d0dae455375aa9d7",
                "parameters": [
                    {
                        "name": "package",
                        "in": "path",
                        "description": "slug of the package to retrieve",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "smart-pack"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Package details retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Package details retrieved successfully."
                                        },
                                        "data": {
                                            "description": "Package details",
                                            "properties": {
                                                "id": {
[...]
