{
    "openapi": "3.0.0",
    "info": {
        "title": "Medishop",
        "description": "Medishop Project",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.medishop.dworklabs.com/api/v1",
            "description": "Live API Server"
        },
        {
            "url": "http://192.168.100.23:8008/api/v1",
            "description": "Localhost API Server 1"
        },
        {
            "url": "http://127.0.0.1:8000/api/v1",
            "description": "Localhost API Server 2"
        }
    ],
    "paths": {
        "/admin/vendor": {
            "post": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Store a vendor",
                "description": "Save an information of a vendor.",
                "operationId": "StoreVendor",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "store_name",
                                    "store_description",
                                    "location",
                                    "country",
                                    "state",
                                    "district",
                                    "municipality",
                                    "postal_code",
                                    "bank_name",
                                    "bank_account_holder_name",
                                    "bank_account_number",
                                    "vendor_citizenship_card[]",
                                    "vendor_business_license[]",
                                    "vendor_tax_certificate[]",
                                    "name",
                                    "email",
                                    "mobile_number"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "Dave Chappelle"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "dev.chappelle@mailinator.com"
                                    },
                                    "mobile_number": {
                                        "type": "string",
                                        "example": "9452114525"
                                    },
                                    "store_name": {
                                        "type": "string",
                                        "example": "Lilly Lee Store"
                                    },
                                    "store_description": {
                                        "type": "string",
                                        "example": "Lilly Lee Store Description"
                                    },
                                    "location": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "Maharajgunj"
                                    },
                                    "country": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "Nepal"
                                    },
                                    "state": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "Bagmati Province"
                                    },
                                    "district": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "Kathmandu"
                                    },
                                    "municipality": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "Budhanilkantha Municipality"
                                    },
                                    "postal_code": {
                                        "type": "string",
                                        "example": "4528"
                                    },
                                    "bank_name": {
                                        "type": "string",
                                        "example": "Laxmi Sunrise"
                                    },
                                    "bank_account_holder_name": {
                                        "type": "string",
                                        "example": "Laxmi Thapa"
                                    },
                                    "bank_account_number": {
                                        "type": "string",
                                        "example": "21547741201300157899"
                                    },
                                    "is_verified": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "vendor_citizenship_card[]": {
                                        "description": "Multiple image files to upload vendor citizenship card",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    },
                                    "vendor_business_license[]": {
                                        "description": "Multiple image files to upload vendor business license",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    },
                                    "vendor_tax_certificate[]": {
                                        "description": "Multiple image files to upload vendor tax certificate",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Vendor added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor added"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/vendor-verified-toggler/{uuid}": {
            "get": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Toggle vendor verification status",
                "description": "Toggle vendor verification status",
                "operationId": "VendorVerifierToggler",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Uuid of a vendor",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "ff5487b6-72f4-4a7f-bd0f-0abbde78db27"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vendor status updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor verification status changed to ACTIVE"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/brand": {
            "get": {
                "tags": [
                    "Brand"
                ],
                "summary": "Get all active brand",
                "description": "Get all active brand.",
                "operationId": "BrandList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number of list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items on each page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Active brand lists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Active brand lists"
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "pfizer"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Pfizer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 5
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Brand"
                ],
                "summary": "Store a product brand",
                "description": "Store a product brand.",
                "operationId": "StoreBrand",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Merck"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Vendor added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Brand added successfully."
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/brand/{brand}": {
            "delete": {
                "tags": [
                    "Brand"
                ],
                "summary": "Delete a brand(soft).",
                "description": "Delete a brand(soft).",
                "operationId": "BrandDelete",
                "parameters": [
                    {
                        "name": "brand",
                        "in": "path",
                        "description": "ID of the brand to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Brand successfully deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Brand removed successfully."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Brand"
                ],
                "summary": "Update brand based on ID",
                "description": "Update brand based on ID",
                "operationId": "BrandUpdate",
                "parameters": [
                    {
                        "name": "brand",
                        "in": "path",
                        "description": "An infant id of the belonging user",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Merck"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Vendor added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Brand updated successfully."
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        }
    },
    "tags": [
        {
            "name": "Vendor",
            "description": "Vendor"
        },
        {
            "name": "Brand",
            "description": "Brand"
        }
    ],
    "components": {
        "securitySchemes": {
            "sanctum": {
                "type": "apiKey",
                "description": "Enter token in format (Bearer <token>)",
                "name": "Authorization",
                "in": "header"
            }
        }
    }
}