{
    "openapi": "3.0.0",
    "info": {
        "title": "Medishop",
        "description": "Medishop Project",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.medishop.dworklabs.com/api/v1",
            "description": "Live API Server"
        },
        {
            "url": "http://192.168.100.23:8008/api/v1",
            "description": "Localhost API Server 1"
        },
        {
            "url": "http://127.0.0.1:8000/api/v1",
            "description": "Localhost API Server 2"
        }
    ],
    "paths": {
        "/admin/vendor": {
            "get": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Vendor list",
                "description": "Get vendor list.",
                "operationId": "VendorList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number of list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items on each page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "verified_vendors",
                        "in": "query",
                        "description": "Filter vendor lists based on verified/unverified(1->verified and 0->unverified)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Inactive vendor lists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Inactive vendor lists"
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "user_uuid": {
                                                                "type": "string",
                                                                "format": "uuid",
                                                                "example": "0c8f6da3-58fb-4f5e-ae52-5494a38a3b0e"
                                                            },
                                                            "vendor_uuid": {
                                                                "type": "string",
                                                                "format": "uuid",
                                                                "example": "04546ab6-bb58-41f4-b1d7-e42cbd7ec778"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "vendor280"
                                                            },
                                                            "mobile_number": {
                                                                "type": "string",
                                                                "example": "9870807888"
                                                            },
                                                            "store_name": {
                                                                "type": "string",
                                                                "example": "Kovacek and Sons"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 17
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 17
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Register a vendor by admin",
                "description": "Save/Register an information of a vendor.",
                "operationId": "StoreVendor",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "store_name",
                                    "store_description",
                                    "location",
                                    "country",
                                    "state",
                                    "district",
                                    "municipality",
                                    "postal_code",
                                    "bank_name",
                                    "bank_account_holder_name",
                                    "bank_account_number",
                                    "vendor_citizenship_card[]",
                                    "vendor_business_license[]",
                                    "vendor_tax_certificate[]",
                                    "name",
                                    "email",
                                    "mobile_number"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "Dave Chappelle"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "dev.chappelle@mailinator.com"
                                    },
                                    "mobile_number": {
                                        "type": "string",
                                        "example": "9452114525"
                                    },
                                    "store_name": {
                                        "type": "string",
                                        "example": "Lilly Lee Store"
                                    },
                                    "store_description": {
                                        "type": "string",
                                        "example": "Lilly Lee Store Description"
                                    },
                                    "location": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "Maharajgunj"
                                    },
                                    "country": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "Nepal"
                                    },
                                    "state": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "Bagmati Province"
                                    },
                                    "district": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "Kathmandu"
                                    },
                                    "municipality": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "Budhanilkantha Municipality"
                                    },
                                    "postal_code": {
                                        "type": "string",
                                        "example": "4528"
                                    },
                                    "bank_name": {
                                        "type": "string",
                                        "example": "Laxmi Sunrise"
                                    },
                                    "bank_account_holder_name": {
                                        "type": "string",
                                        "example": "Laxmi Thapa"
                                    },
                                    "bank_account_number": {
                                        "type": "string",
                                        "example": "21547741201300157899"
                                    },
                                    "is_verified": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "vendor_citizenship_card[]": {
                                        "description": "Multiple image files to upload vendor citizenship card",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    },
                                    "vendor_business_license[]": {
                                        "description": "Multiple image files to upload vendor business license",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    },
                                    "vendor_tax_certificate[]": {
                                        "description": "Multiple image files to upload vendor tax certificate",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Vendor added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor added"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/vendor/{uuid}": {
            "get": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Vendor user show",
                "description": "Vendor user show.",
                "operationId": "VendorShow",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Vendor user uuid",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "c80dbce7-a3b5-476f-a618-4f59d4c8bdae"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vendor user detail",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor user detail"
                                        },
                                        "data": {
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "Dave Chappelle"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "dev.chappelle@mailinator.com"
                                                },
                                                "mobile_number": {
                                                    "type": "string",
                                                    "example": "9452114525"
                                                },
                                                "vendor_details": {
                                                    "properties": {
                                                        "is_verified": {
                                                            "type": "boolean",
                                                            "example": true
                                                        },
                                                        "store_name": {
                                                            "type": "string",
                                                            "example": "Lilly Lee Store"
                                                        },
                                                        "store_description": {
                                                            "type": "string",
                                                            "example": "Lilly Lee Store Description"
                                                        },
                                                        "location": {
                                                            "type": "string",
                                                            "example": "Maharajgunj"
                                                        },
                                                        "country": {
                                                            "type": "string",
                                                            "example": "Nepal"
                                                        },
                                                        "state": {
                                                            "type": "string",
                                                            "example": "Bagmati Province"
                                                        },
                                                        "district": {
                                                            "type": "string",
                                                            "example": "Kathmandu"
                                                        },
                                                        "municipality": {
                                                            "type": "string",
                                                            "example": "Budhanilkantha Municipality"
                                                        },
                                                        "postal_code": {
                                                            "type": "string",
                                                            "example": "4528"
                                                        },
                                                        "bank_name": {
                                                            "type": "string",
                                                            "example": "Laxmi Sunrise"
                                                        },
                                                        "bank_account_holder_name": {
                                                            "type": "string",
                                                            "example": "Laxmi Thapa"
                                                        },
                                                        "bank_account_number": {
                                                            "type": "string",
                                                            "example": "21547741201300156000"
                                                        },
                                                        "documents": {
                                                            "properties": {
                                                                "citizenship_card": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string",
                                                                        "format": "url",
                                                                        "example": "http://127.0.0.1:8000/storage/93/meadow-16044_1920.jpg"
                                                                    }
                                                                },
                                                                "tax_certificate": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string",
                                                                        "format": "url",
                                                                        "example": "http://127.0.0.1:8000/storage/95/lucas-k-wQLAGv4_OYs-unsplash.jpg"
                                                                    }
                                                                },
                                                                "business_license": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string",
                                                                        "format": "url",
                                                                        "example": "http://127.0.0.1:8000/storage/91/animal-4855514_1920.jpg"
                                                                    }
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/vendor-verified-toggler/{uuid}": {
            "get": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Toggle vendor verification status",
                "description": "Toggle vendor verification status",
                "operationId": "VendorVerifierToggler",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Uuid of a vendor",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "ff5487b6-72f4-4a7f-bd0f-0abbde78db27"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vendor status updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor verification status changed to ACTIVE"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/brand": {
            "get": {
                "tags": [
                    "Brand"
                ],
                "summary": "Get all active/inactive brand",
                "description": "Get all active/inactive brand.",
                "operationId": "BrandList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number of list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items on each page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Show active/inactive brands(values: 0 and 1)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Active brand lists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Active brand lists"
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "pfizer"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Pfizer"
                                                            },
                                                            "image": {
                                                                "type": "string",
                                                                "format": "url",
                                                                "example": "http://127.0.0.1:8000/assets/img/default-brand-category.png"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 6
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Brand"
                ],
                "summary": "Store a product brand",
                "description": "Store a product brand.",
                "operationId": "StoreBrand",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "image"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Merck"
                                    },
                                    "image": {
                                        "description": "Brand image",
                                        "type": "file",
                                        "format": "binary"
                                    },
                                    "is_featured": {
                                        "description": "Indicates if the brand is featured",
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "is_popular": {
                                        "description": "Indicates if the brand is popular",
                                        "type": "boolean",
                                        "example": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Vendor added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Brand added successfully."
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/brand/{slug}": {
            "get": {
                "tags": [
                    "Brand"
                ],
                "summary": "Show an active brand",
                "description": "Show an active brand.",
                "operationId": "BrandShow",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of brand",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "sun-pharma"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Showing brand",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Showing brand"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "sun-pharma"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Sun Pharma"
                                                },
                                                "image": {
                                                    "type": "string",
                                                    "format": "url",
                                                    "example": "http://127.0.0.1:8000/assets/img/default-brand-category.png"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/brand/{brand}": {
            "post": {
                "tags": [
                    "Brand"
                ],
                "summary": "Update brand based on ID",
                "description": "Update brand based on ID",
                "operationId": "BrandUpdate",
                "parameters": [
                    {
                        "name": "brand",
                        "in": "path",
                        "description": "Brand ID of a brand",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "_method"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Merck"
                                    },
                                    "_method": {
                                        "type": "string",
                                        "example": "patch"
                                    },
                                    "image": {
                                        "description": "Brand image",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "is_featured": {
                                        "description": "Indicates if the brand is featured",
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "is_popular": {
                                        "description": "Indicates if the brand is popular",
                                        "type": "boolean",
                                        "example": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Vendor added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Brand updated successfully."
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Brand"
                ],
                "summary": "Delete a brand(soft).",
                "description": "Delete a brand(soft).",
                "operationId": "BrandDelete",
                "parameters": [
                    {
                        "name": "brand",
                        "in": "path",
                        "description": "ID of the brand to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Brand successfully deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Brand removed successfully."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/category": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Get all active/inactive category",
                "description": "Get all active/inactive category.",
                "operationId": "CategoryList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number of list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items on each page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Show active/inactive categories(values: 0 and 1)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Show active/inactive categories(values: 0 and 1)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Active category lists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Active category lists"
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "pain-relief"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Pain Relief"
                                                            },
                                                            "image": {
                                                                "type": "string",
                                                                "format": "url",
                                                                "example": "http://127.0.0.1:8000/assets/img/default-brand-category.png"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 6
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Category"
                ],
                "summary": "Store a product category",
                "description": "Store a product category.",
                "operationId": "StoreCategory",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "image"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Merck"
                                    },
                                    "image": {
                                        "description": "Category image",
                                        "type": "file",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Category create response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Category added successfully."
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/category/{slug}": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Show an active category",
                "description": "Show an active category.",
                "operationId": "CategoryShow",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of category",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "skin-care"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Showing category",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Showing category"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "skin-care"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Skin Care"
                                                },
                                                "image": {
                                                    "type": "string",
                                                    "format": "url",
                                                    "example": "http://127.0.0.1:8000/assets/img/default-brand-category.png"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/category/{category}": {
            "post": {
                "tags": [
                    "Category"
                ],
                "summary": "Update category based on ID",
                "description": "Update category based on ID",
                "operationId": "CategoryUpdate",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "description": "An infant id of the belonging user",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "_method"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Merck"
                                    },
                                    "_method": {
                                        "type": "string",
                                        "example": "patch"
                                    },
                                    "image": {
                                        "description": "Brand image",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Category update response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Category updated successfully."
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Category"
                ],
                "summary": "Delete a category(soft).",
                "description": "Delete a category(soft).",
                "operationId": "CategoryDelete",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "description": "ID of the category to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category successfully deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Category removed successfully."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/category/{category}/tag": {
            "get": {
                "tags": [
                    "Tag"
                ],
                "summary": "Get all active category tag",
                "description": "Get all active category tag.",
                "operationId": "TagList",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "description": "Slug of a category",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "vitamins-supplements"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number of list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items on each page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Active tag lists of category",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Active tag lists of category : Vitamins & Supplements"
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 8
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "vitamin-c"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Vitamin C"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 4
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 4
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Tag"
                ],
                "summary": "Store a product tag",
                "description": "Store a product tag.",
                "operationId": "StoreTag",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "description": "Slug of category",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "skin-care"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Broad Spectrum"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Category create response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Category added successfully."
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/admin/tag/{tag}": {
            "get": {
                "tags": [
                    "Tag"
                ],
                "summary": "Show an active tag",
                "description": "Show an active tag.",
                "operationId": "TagShow",
                "parameters": [
                    {
                        "name": "tag",
                        "in": "path",
                        "description": "Slug of tag",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "omega-3"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Showing tag",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Showing tag"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "sun-pharma"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Sun Pharma"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Tag"
                ],
                "summary": "Delete a tag(soft).",
                "description": "Delete a tag(soft).",
                "operationId": "TagDelete",
                "parameters": [
                    {
                        "name": "tag",
                        "in": "path",
                        "description": "ID of the tag to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tag successfully deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tag removed successfully."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Tag"
                ],
                "summary": "Update tag based on ID",
                "description": "Update tag based on ID",
                "operationId": "TagUpdate",
                "parameters": [
                    {
                        "name": "tag",
                        "in": "path",
                        "description": "ID of a tag",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Anesthesiology"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Tag update response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Tag updated successfully."
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        }
    },
    "tags": [
        {
            "name": "Vendor",
            "description": "Vendor"
        },
        {
            "name": "Brand",
            "description": "Brand"
        },
        {
            "name": "Category",
            "description": "Category"
        },
        {
            "name": "Tag",
            "description": "Tag"
        }
    ],
    "components": {
        "securitySchemes": {
            "sanctum": {
                "type": "apiKey",
                "description": "Enter token in format (Bearer <token>)",
                "name": "Authorization",
                "in": "header"
            }
        }
    }
}