{
    "openapi": "3.0.0",
    "info": {
        "title": "Medishop",
        "description": "Medishop Project",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.medishop.dworklabs.com/api/v1",
            "description": "Live API Server"
        },
        {
            "url": "http://192.168.100.23:8008/api/v1",
            "description": "Localhost API Server 1"
        },
        {
            "url": "http://127.0.0.1:8000/api/v1",
            "description": "Localhost API Server 2"
        },
        {
            "url": "http://192.168.100.18:8000/api/v1",
            "description": "Localhost API Server 3"
        }
    ],
    "paths": {
        "/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User Register Form(only client can register)",
                "description": "Registration form for user.",
                "operationId": "c16ecd14f226bec66e9eb8ad7a1725a9",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "mobile_number",
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "Dave Chappelle"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "dev.chappelle@mailinator.com"
                                    },
                                    "mobile_number": {
                                        "type": "string",
                                        "example": "9452114525"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "secret123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "example": "secret123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful registration",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Please check your email to verify registration"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login Api",
                "description": "Login API(user_type : USER | VENDOR | ADMIN).",
                "operationId": "1ebd53789b5149840dfa569708b2a921",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "vendor@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful vendor login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Welcome, vendor00"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "uuid": {
                                                            "type": "string",
                                                            "format": "uuid",
                                                            "example": "0b831981-5ad1-3bdc-a1bd-b514676b3f98"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "vendor00"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "format": "email",
                                                            "example": "vendor@gmail.com"
                                                        },
                                                        "user_type": {
                                                            "type": "string",
                                                            "example": "VENDOR"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "Bearer 4|VzkoJxyMfelFTKdiJlEnN3n3OhqTxS5SKSzDxJ2z61dd765a"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User logout",
                "description": "logs out a user.",
                "operationId": "LogoutUser",
                "responses": {
                    "200": {
                        "description": "User logout successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "You are logged out"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/forgot-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Forgot password form handler",
                "description": "Forgot password form handler",
                "operationId": "ForgotPassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "vendor@gmail.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User logout successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "You are logged out"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/banner": {
            "get": {
                "tags": [
                    "Banner"
                ],
                "summary": "Get all banners",
                "description": "Get all banners.",
                "operationId": "ClientBannerList",
                "responses": {
                    "200": {
                        "description": "List of banners.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "List of banners."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "title": {
                                                        "type": "string",
                                                        "example": "Look ma, a banner!",
                                                        "nullable": true
                                                    },
                                                    "url": {
                                                        "type": "string",
                                                        "example": "https://inboxes.com/",
                                                        "nullable": true
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "format": "url",
                                                        "example": "http://192.168.100.23:8008/storage/2643/sunset-7007680_1920.jpg"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/kitbag": {
            "get": {
                "tags": [
                    "Kitbag"
                ],
                "summary": "Get user kitbag items.",
                "description": "Get user kitbag items.",
                "operationId": "KitbagItemList",
                "responses": {
                    "200": {
                        "description": "List of kitbag items retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "List of kitbag items"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "item_uuid": {
                                                                "type": "string",
                                                                "example": "157cfda6-5bdc-4856-bf42-b82d951ae2c3"
                                                            },
                                                            "item_name": {
                                                                "type": "string",
                                                                "example": "Similique natus a quidem deserunt."
                                                            },
                                                            "item_slug": {
                                                                "type": "string",
                                                                "example": "similique-natus-a-quidem-deserunt"
                                                            },
                                                            "brand_name": {
                                                                "type": "string",
                                                                "example": "GlaxoSmithKline"
                                                            },
                                                            "variant_name": {
                                                                "type": "string",
                                                                "example": "Variant-2"
                                                            },
                                                            "variant_id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "image": {
                                                                "type": "string",
                                                                "example": "http://192.168.100.23:8008/storage/91/visc-inhaler.jpg"
                                                            },
                                                            "quantity": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 1309
                                                            },
                                                            "subtotal": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 1309
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 8
                                                },
                                                "total_amount": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 6811
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Kitbag"
                ],
                "summary": "Add item to kitbag",
                "description": "Add a product variant to the user's kitbag with a specified quantity.",
                "operationId": "AddToKitbag",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "product_variation_id",
                                    "product_slug",
                                    "quantity"
                                ],
                                "properties": {
                                    "product_variation_id": {
                                        "description": "ID of the product variant to be added",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "product_slug": {
                                        "description": "Slug of the product",
                                        "type": "string",
                                        "example": "similique-natus-a-quidem-deserunt"
                                    },
                                    "quantity": {
                                        "description": "Quantity of the product to add",
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Item successfully added to kitbag.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "item added to kitbag."
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Kitbag"
                ],
                "summary": "Delete a kitbag item.",
                "description": "Delete a kitbag item.",
                "operationId": "KitbagDelete",
                "requestBody": {
                    "description": "List of kitbag item UUIDs to delete in bulk",
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "item_uuids": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "example": [
                                            "e3aacd84-eaf0-4c43-b597-5f8a35329057",
                                            "e39e59bc-4651-413b-9e85-71771dd1de40"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Kitbag item removed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Kitbag item removed successfully."
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/favourite/{slug}/product": {
            "get": {
                "tags": [
                    "Favourite"
                ],
                "summary": "Toggle a favourite status of a product",
                "description": "Toggle a favourite status of a product.",
                "operationId": "ProductFavoutiteToggle",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of product",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "soluta-cum-reiciendis-dolorum-sunt"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful toggle",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Item added to favourite"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/liked-items": {
            "get": {
                "tags": [
                    "Favourite"
                ],
                "summary": "List of liked products of a user.",
                "description": "List of liked products of a user.",
                "operationId": "ProductFavoutiteList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Pagination page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Item per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of liked items.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "List of liked items."
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Debitis debitis autem consectetur saepe."
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "debitis-debitis-autem-consectetur-saepe"
                                                            },
                                                            "brand": {
                                                                "type": "string",
                                                                "example": "Sanofi"
                                                            },
                                                            "rating": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 1
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 133.44
                                                            },
                                                            "previous_price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 139
                                                            },
                                                            "discount_percent": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 4
                                                            },
                                                            "feature_image": {
                                                                "type": "string",
                                                                "format": "url",
                                                                "example": "http://192.168.100.23:8008/storage/91/medi-plaster.png"
                                                            },
                                                            "variations": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "variation_id": {
                                                                            "type": "integer",
                                                                            "example": 1
                                                                        },
                                                                        "name": {
                                                                            "type": "string",
                                                                            "example": "Variant-1"
                                                                        },
                                                                        "size_value": {
                                                                            "type": "number",
                                                                            "example": 100
                                                                        },
                                                                        "size_unit": {
                                                                            "type": "string",
                                                                            "example": "patch"
                                                                        },
                                                                        "price": {
                                                                            "type": "number",
                                                                            "example": 139
                                                                        },
                                                                        "previous_price": {
                                                                            "type": "number",
                                                                            "example": null,
                                                                            "nullable": true
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 5
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/get-brand-list": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get all active brand",
                "description": "Get all active brand.",
                "operationId": "ClientBrandList",
                "responses": {
                    "200": {
                        "description": "List of active brands",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "List of active brands"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "slug": {
                                                        "type": "string",
                                                        "example": "pfizer"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Pfizer"
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "example": "http://127.0.0.1:8000/assets/img/default-brand-category.png"
                                                    },
                                                    "is_featured": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "is_popular": {
                                                        "type": "integer",
                                                        "example": 0
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/get-category-list": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get all active categories",
                "description": "Get all active categories.",
                "operationId": "ClientCategoryList",
                "responses": {
                    "200": {
                        "description": "List of active categories",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "List of active categories"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "slug": {
                                                        "type": "string",
                                                        "example": "pfizer"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Pfizer"
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "format": "url",
                                                        "example": "http://127.0.0.1:8000/assets/img/default-brand-category.png"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/products/": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get product based on category slug",
                "description": "Get product based on category slug.",
                "operationId": "ClientProductList",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "search product using name",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": ""
                        }
                    },
                    {
                        "name": "brand_slug",
                        "in": "query",
                        "description": "slug of a brand",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "category_slug",
                        "in": "query",
                        "description": "slug of a category",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "list_type",
                        "in": "query",
                        "description": "Fetch item list based on type(default fetches latest products).(Types values are: random)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Item per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Api page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "All product lists."
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Sit quas consequatur dignissimos voluptatem."
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "sit-quas-consequatur-dignissimos-voluptatem"
                                                            },
                                                            "brand": {
                                                                "type": "string",
                                                                "example": "Roche"
                                                            },
                                                            "rating": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 3.5
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 137
                                                            },
                                                            "previous_price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": null,
                                                                "nullable": true
                                                            },
                                                            "feature_image": {
                                                                "type": "string",
                                                                "example": "http://192.168.100.23:8008/storage/2061/tablets.jpg"
                                                            },
                                                            "liked": {
                                                                "type": "boolean",
                                                                "example": false
                                                            },
                                                            "discount_percent": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 5
                                                            },
                                                            "variations": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "variation_id": {
                                                                            "type": "integer",
                                                                            "example": 1154
                                                                        },
                                                                        "name": {
                                                                            "type": "string",
                                                                            "example": "Variant-1"
                                                                        },
                                                                        "size_value": {
                                                                            "type": "integer",
                                                                            "example": 100
                                                                        },
                                                                        "size_unit": {
                                                                            "type": "string",
                                                                            "example": "patch"
                                                                        },
                                                                        "price": {
                                                                            "type": "number",
                                                                            "format": "float",
                                                                            "example": 137
                                                                        },
                                                                        "previous_price": {
                                                                            "type": "number",
                                                                            "format": "float",
                                                                            "example": null,
                                                                            "nullable": true
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page_no": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 51
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 501
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/product/{slug}": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Show an product",
                "description": "Show an active brand.",
                "operationId": "ProductShow",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of product",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "sun-pharma"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Product detail fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Product detail fetched successfully."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "Placeat earum iusto iste perspiciatis vel."
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "placeat-earum-iusto-iste-perspiciatis-vel"
                                                },
                                                "brand": {
                                                    "type": "string",
                                                    "example": "Bristol-Myers Squibb"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "<p>Omnis corporis aut a aut et ut sunt...</p>"
                                                },
                                                "added_date": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2025-09-22"
                                                },
                                                "rating": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 3.8
                                                },
                                                "categories": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Weight Management"
                                                    }
                                                },
                                                "tags": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Sunscreen"
                                                    }
                                                },
                                                "variations": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "variation_id": {
                                                                "type": "integer",
                                                                "example": 1132
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Variant-1"
                                                            },
                                                            "size_value": {
                                                                "type": "integer",
                                                                "example": 100
                                                            },
                                                            "size_unit": {
                                                                "type": "string",
                                                                "example": "ml"
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 167
                                                            },
                                                            "previous_price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": null,
                                                                "nullable": true
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "featured_image": {
                                                    "type": "string",
                                                    "format": "url",
                                                    "example": "http://192.168.100.23:8008/storage/1881/syrup.jpg"
                                                },
                                                "gallery_images": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "format": "url",
                                                        "example": "http://192.168.100.23:8008/storage/1882/tablets.jpg"
                                                    }
                                                },
                                                "liked": {
                                                    "type": "boolean",
                                                    "example": false
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/packages": {
            "get": {
                "tags": [
                    "Package"
                ],
                "summary": "Get package list",
                "description": "Get package list.",
                "operationId": "ClientPackageList",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Item per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Api page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Package list response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Package lists"
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Mega Combo"
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "mega-combo"
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 3640
                                                            },
                                                            "previous_price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 7000,
                                                                "nullable": true
                                                            },
                                                            "discount_percent": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 3
                                                            },
                                                            "rating": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 2.8
                                                            },
                                                            "image": {
                                                                "type": "string",
                                                                "example": "http://192.168.100.23:8008/storage/1642/package-4.jpg"
                                                            },
                                                            "liked": {
                                                                "type": "boolean",
                                                                "example": false
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page_no": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 8
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/package/{slug}": {
            "get": {
                "tags": [
                    "Package"
                ],
                "summary": "Show a package",
                "description": "Show a package.",
                "operationId": "PackageShow",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of package",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "sun-pharma"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Package details retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Package details retrieved successfully."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "Super Offer"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "super-offer"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "<p>Package details...</p>"
                                                },
                                                "price": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 9000
                                                },
                                                "discount_price": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 8910
                                                },
                                                "discount_percent": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 3
                                                },
                                                "rating": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 2.8
                                                },
                                                "featured_image": {
                                                    "type": "string",
                                                    "example": "http://192.168.100.23:8008/storage/2636/package-1.jpg"
                                                },
                                                "gallery_images": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "http://192.168.100.23:8008/storage/2637/package-2.jpg"
                                                    }
                                                },
                                                "products": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "image": {
                                                                "type": "string",
                                                                "example": "http://192.168.100.23:8008/storage/2021/cream.jpg"
                                                            },
                                                            "product_name": {
                                                                "type": "string",
                                                                "example": "At odio sed velit numquam."
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "at-odio-sed-velit-numquam"
                                                            },
                                                            "size_value": {
                                                                "type": "number",
                                                                "example": 100
                                                            },
                                                            "size_unit": {
                                                                "type": "string",
                                                                "example": "IU"
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 142
                                                            },
                                                            "brand": {
                                                                "type": "string",
                                                                "example": "Abbott"
                                                            },
                                                            "variant_name": {
                                                                "type": "string",
                                                                "example": "Variant-8"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "categories": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Heart Care"
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "heart-care"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "liked": {
                                                    "type": "boolean",
                                                    "example": false
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/settings": {
            "get": {
                "tags": [
                    "Setting"
                ],
                "summary": "Get list of settings.",
                "description": "Retrieve the list of application settings with related data.",
                "operationId": "SettingList",
                "responses": {
                    "200": {
                        "description": "App settings fetched successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "app settings fetched successfully"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "name": {
                                                        "type": "string",
                                                        "example": "GIFT_WRAP_CHARGE"
                                                    },
                                                    "value": {
                                                        "type": "number",
                                                        "example": 300
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/profile": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get authenticated user profile",
                "description": "Retrieve details of the currently authenticated user.",
                "operationId": "d131fd395f0ffba5a93155925bb6e566",
                "responses": {
                    "200": {
                        "description": "User profile retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "user detail"
                                        },
                                        "data": {
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "John Doe"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "john@example.com"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "Active"
                                                },
                                                "user_type": {
                                                    "type": "string",
                                                    "example": "Admin"
                                                },
                                                "mobile_number": {
                                                    "type": "string",
                                                    "example": "+9779812345678"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Update authenticated user profile",
                "description": "Update user's name, mobile number, and optional profile image. Use `_method=PUT` for method spoofing.",
                "operationId": "b3e59f21d71b007c120cab54b23b1682",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "_method"
                                ],
                                "properties": {
                                    "_method": {
                                        "description": "Laravel method spoofing for PUT/PATCH requests",
                                        "type": "string",
                                        "example": "PUT"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "mobile_number": {
                                        "type": "string",
                                        "example": "9840000000"
                                    },
                                    "image": {
                                        "description": "Optional profile image to upload",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profile updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "profile update successfull"
                                        },
                                        "data": {
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "John Doe"
                                                },
                                                "mobile_number": {
                                                    "type": "string",
                                                    "example": "9840000000"
                                                },
                                                "image": {
                                                    "type": "string",
                                                    "example": "http://example.com/storage/profile/abcd1234.jpg"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/orders": {
            "post": {
                "tags": [
                    "Order"
                ],
                "summary": "Submit an order.",
                "description": "Submit an order.NOTE: name, email, mobile fields are only needed for GUEST USER.",
                "operationId": "CODOrder",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "payment_method",
                                    "name",
                                    "email",
                                    "mobile",
                                    "address",
                                    "products"
                                ],
                                "properties": {
                                    "payment_method": {
                                        "type": "string",
                                        "example": "Cash on Delivery"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "James P. Sullivan"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "james.sullivan100@example.com"
                                    },
                                    "mobile": {
                                        "type": "string",
                                        "example": "9854112547"
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "Shyambhu, Kathmandu"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "some description of this order COD"
                                    },
                                    "gift_wrap": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "gift_wrap_remarks": {
                                        "type": "boolean",
                                        "example": "gift wrap must be in silver paper."
                                    },
                                    "products": {
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "product_slug",
                                                "variant_id",
                                                "quantity"
                                            ],
                                            "properties": {
                                                "product_slug": {
                                                    "type": "string",
                                                    "example": "unde-a-maiores-et-omnis"
                                                },
                                                "variant_id": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "quantity": {
                                                    "type": "integer",
                                                    "example": 1
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "packages": {
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "package_slug",
                                                "quantity"
                                            ],
                                            "properties": {
                                                "package_slug": {
                                                    "type": "string",
                                                    "example": "deluxe-box"
                                                },
                                                "quantity": {
                                                    "type": "integer",
                                                    "example": 1
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Your order has been placed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Your order has been placed successfully."
                                        },
                                        "data": {
                                            "properties": {
                                                "amount": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 2248.46
                                                },
                                                "order_number": {
                                                    "type": "string",
                                                    "example": "7gnhQMRGxGZORSC8OuNb"
                                                },
                                                "payment_method": {
                                                    "type": "string",
                                                    "example": "Cash on Delivery"
                                                },
                                                "date": {
                                                    "type": "string",
                                                    "example": "2025/10/30"
                                                },
                                                "ordered_items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "item_name": {
                                                                "type": "string",
                                                                "example": "Quo voluptas quam dolorum voluptas."
                                                            },
                                                            "variant_name": {
                                                                "type": "string",
                                                                "example": "Variant-2"
                                                            },
[...]
