{
    "openapi": "3.0.0",
    "info": {
        "title": "Medishop",
        "description": "Medishop Project",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.medishop.dworklabs.com/api/v1",
            "description": "Live API Server"
        },
        {
            "url": "http://192.168.100.23:8008/api/v1",
            "description": "Localhost API Server 1"
        },
        {
            "url": "http://127.0.0.1:8000/api/v1",
            "description": "Localhost API Server 2"
        },
        {
            "url": "http://192.168.100.18:8000/api/v1",
            "description": "Localhost API Server 3"
        }
    ],
    "paths": {
        "/user/address": {
            "get": {
                "tags": [
                    "User Address"
                ],
                "summary": "Get all addresses of the authenticated user",
                "description": "Retrieve a list of all addresses associated with the logged-in user.",
                "operationId": "18a925d91af149945b384f376cd00259",
                "responses": {
                    "200": {
                        "description": "List of user addresses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User address"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "user_id": {
                                                        "type": "integer",
                                                        "example": 3
                                                    },
                                                    "address": {
                                                        "type": "string",
                                                        "example": "Kathmandu, Nepal"
                                                    },
                                                    "latitude": {
                                                        "type": "string",
                                                        "example": "27.7172"
                                                    },
                                                    "longitude": {
                                                        "type": "string",
                                                        "example": "85.3240"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "User Address"
                ],
                "summary": "Store a new address for the authenticated user",
                "description": "Allows a logged-in user to add a new address with optional latitude and longitude.",
                "operationId": "070983a77ebc4460f08e8727425a5766",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "address"
                                ],
                                "properties": {
                                    "address": {
                                        "type": "string",
                                        "example": "Kathmandu, Nepal"
                                    },
                                    "latitude": {
                                        "type": "string",
                                        "example": "27.7172"
                                    },
                                    "longitude": {
                                        "type": "string",
                                        "example": "85.3240"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Address stored successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Address stored successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "user_id": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "address": {
                                                    "type": "string",
                                                    "example": "Kathmandu, Nepal"
                                                },
                                                "latitude": {
                                                    "type": "string",
                                                    "example": "27.7172"
                                                },
                                                "longitude": {
                                                    "type": "string",
                                                    "example": "85.3240"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The address field is required."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/user/address/{id}": {
            "put": {
                "tags": [
                    "User Address"
                ],
                "summary": "Update an existing address",
                "description": "Update the user's address using its ID. Only the owner can update their address.",
                "operationId": "db7c9f056224e2e9a99a95881a181053",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Address ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 5
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "address"
                                ],
                                "properties": {
                                    "address": {
                                        "type": "string",
                                        "example": "Bhaktapur, Nepal"
                                    },
                                    "latitude": {
                                        "type": "string",
                                        "example": "27.6710"
                                    },
                                    "longitude": {
                                        "type": "string",
                                        "example": "85.4298"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Address updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Address Update Successful"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Address not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "User Address"
                ],
                "summary": "Delete a user address",
                "description": "Delete a specific address by ID. Only the owner of the address can delete it.",
                "operationId": "0baa6557daed1f468029582b7778fae1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Address ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 7
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Address deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Address Successful"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Address not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User Register Form(only client can register)",
                "description": "Registration form for user.",
                "operationId": "c16ecd14f226bec66e9eb8ad7a1725a9",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "mobile_number",
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "Dave Chappelle"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "dev.chappelle@mailinator.com"
                                    },
                                    "mobile_number": {
                                        "type": "string",
                                        "example": "9452114525"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "secret123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "example": "secret123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful registration",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Please check your email to verify registration"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login Api",
                "description": "Login API(user_type : USER | VENDOR | ADMIN).",
                "operationId": "1ebd53789b5149840dfa569708b2a921",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "vendor@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful vendor login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Welcome, vendor00"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "uuid": {
                                                            "type": "string",
                                                            "format": "uuid",
                                                            "example": "0b831981-5ad1-3bdc-a1bd-b514676b3f98"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "vendor00"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "format": "email",
                                                            "example": "vendor@gmail.com"
                                                        },
                                                        "user_type": {
                                                            "type": "string",
                                                            "example": "VENDOR"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "Bearer 4|VzkoJxyMfelFTKdiJlEnN3n3OhqTxS5SKSzDxJ2z61dd765a"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User logout",
                "description": "logs out a user.",
                "operationId": "LogoutUser",
                "responses": {
                    "200": {
                        "description": "User logout successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "You are logged out"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/forgot-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Forgot password form handler",
                "description": "Forgot password form handler",
                "operationId": "ForgotPassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "vendor@gmail.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User logout successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "You are logged out"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/banner": {
            "get": {
                "tags": [
                    "Banner"
                ],
                "summary": "Get all banners",
                "description": "Get all banners.",
                "operationId": "ClientBannerList",
                "responses": {
                    "200": {
                        "description": "List of banners.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "List of banners."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "title": {
                                                        "type": "string",
                                                        "example": "Look ma, a banner!",
                                                        "nullable": true
                                                    },
                                                    "url": {
                                                        "type": "string",
                                                        "example": "https://inboxes.com/",
                                                        "nullable": true
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "format": "url",
                                                        "example": "http://192.168.100.23:8008/storage/2643/sunset-7007680_1920.jpg"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/kitbag": {
            "get": {
                "tags": [
                    "Kitbag"
                ],
                "summary": "Get user kitbag items.",
                "description": "Get user kitbag items.",
                "operationId": "KitbagItemList",
                "responses": {
                    "200": {
                        "description": "List of kitbag items",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "List of kitbag items"
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "description": "List of items inside the kitbag",
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "item_uuid": {
                                                                "type": "string",
                                                                "example": "418efb8e-b404-42c5-bdf4-f9ccff64a567"
                                                            },
                                                            "item_name": {
                                                                "type": "string",
                                                                "example": "Illo magnam occaecati non sunt."
                                                            },
                                                            "item_slug": {
                                                                "type": "string",
                                                                "example": "illo-magnam-occaecati-non-sunt"
                                                            },
                                                            "brand_name": {
                                                                "type": "string",
                                                                "example": "Merck"
                                                            },
                                                            "variant_name": {
                                                                "type": "string",
                                                                "example": "Variant-1"
                                                            },
                                                            "variant_id": {
                                                                "type": "integer",
                                                                "example": 813
                                                            },
                                                            "isPrescriptionRequired": {
                                                                "type": "boolean",
                                                                "example": false
                                                            },
                                                            "image": {
                                                                "type": "string",
                                                                "format": "url",
                                                                "example": "http://192.168.100.23:8008/storage/1546/cream.jpg"
                                                            },
                                                            "quantity": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 162
                                                            },
                                                            "subtotal": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 324
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "total_amount": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 4978
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Kitbag"
                ],
                "summary": "Add item to kitbag",
                "description": "Add a product variant to the user's kitbag with a specified quantity.",
                "operationId": "AddToKitbag",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "product_variation_id",
                                    "product_slug",
                                    "quantity"
                                ],
                                "properties": {
                                    "product_variation_id": {
                                        "description": "ID of the product variant to be added",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "product_slug": {
                                        "description": "Slug of the product",
                                        "type": "string",
                                        "example": "similique-natus-a-quidem-deserunt"
                                    },
                                    "quantity": {
                                        "description": "Quantity of the product to add",
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Item successfully added to kitbag.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "item added to kitbag."
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Kitbag"
                ],
                "summary": "Delete a kitbag item.",
                "description": "Delete a kitbag item.",
                "operationId": "KitbagDelete",
                "requestBody": {
                    "description": "List of kitbag item UUIDs to delete in bulk",
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "item_uuids": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "example": [
                                            "e3aacd84-eaf0-4c43-b597-5f8a35329057",
                                            "e39e59bc-4651-413b-9e85-71771dd1de40"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Kitbag item removed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Kitbag item removed successfully."
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/user/feedback": {
            "post": {
                "tags": [
                    "User Feedback"
                ],
                "summary": "Submit feedback from a client",
                "description": "Allows an authenticated client to submit feedback and rating.",
                "operationId": "68ad95df98d94146b54a835895d86e73",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "feedback",
                                    "rating"
                                ],
                                "properties": {
                                    "feedback": {
                                        "type": "string",
                                        "example": "Great service and fast delivery!"
                                    },
                                    "rating": {
                                        "description": "Rating between 1 and 5",
                                        "type": "integer",
                                        "maximum": 5,
                                        "minimum": 1,
                                        "example": 5
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Feedback submitted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Thank you for your feedback."
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 12
                                                },
                                                "user_id": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "feedback": {
                                                    "type": "string",
                                                    "example": "Great service and fast delivery!"
                                                },
                                                "rating": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-10-24T10:15:30Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The feedback field is required."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/favourite/{slug}/product": {
            "get": {
                "tags": [
                    "Favourite"
                ],
                "summary": "Toggle a favourite status of a product",
                "description": "Toggle a favourite status of a product.",
                "operationId": "ProductFavoutiteToggle",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of product",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "soluta-cum-reiciendis-dolorum-sunt"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful toggle",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Item added to favourite"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/liked-items": {
            "get": {
                "tags": [
                    "Favourite"
                ],
                "summary": "List of liked products of a user.",
                "description": "List of liked products of a user.",
                "operationId": "ProductFavoutiteList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Pagination page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Item per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of liked items.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "List of liked items."
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Debitis debitis autem consectetur saepe."
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "debitis-debitis-autem-consectetur-saepe"
                                                            },
                                                            "brand": {
                                                                "type": "string",
                                                                "example": "Sanofi"
                                                            },
                                                            "rating": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 1
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 133.44
                                                            },
                                                            "previous_price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 139
                                                            },
                                                            "discount_percent": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 4
                                                            },
                                                            "feature_image": {
                                                                "type": "string",
                                                                "format": "url",
                                                                "example": "http://192.168.100.23:8008/storage/91/medi-plaster.png"
                                                            },
                                                            "isPrescriptionRequired": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "variations": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "variation_id": {
                                                                            "type": "integer",
                                                                            "example": 1
                                                                        },
                                                                        "name": {
                                                                            "type": "string",
                                                                            "example": "Variant-1"
                                                                        },
                                                                        "size_value": {
                                                                            "type": "number",
                                                                            "example": 100
                                                                        },
                                                                        "size_unit": {
                                                                            "type": "string",
                                                                            "example": "patch"
                                                                        },
                                                                        "price": {
                                                                            "type": "number",
                                                                            "example": 139
                                                                        },
                                                                        "previous_price": {
                                                                            "type": "number",
                                                                            "example": null,
                                                                            "nullable": true
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 5
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/get-brand-list": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get all active brand",
                "description": "Get all active brand.",
                "operationId": "ClientBrandList",
                "parameters": [
                    {
                        "name": "brand",
                        "in": "query",
                        "description": "name of a brand to search.('empty' to fetch all data)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "pfizer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of active brands",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "List of active brands"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "slug": {
                                                        "type": "string",
                                                        "example": "pfizer"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Pfizer"
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "example": "http://127.0.0.1:8000/assets/img/default-brand-category.png"
                                                    },
                                                    "is_featured": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "is_popular": {
                                                        "type": "integer",
                                                        "example": 0
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/get-category-list": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get all active categories",
                "description": "Get all active categories.",
                "operationId": "ClientCategoryList",
                "responses": {
                    "200": {
                        "description": "List of active categories",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "List of active categories"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "slug": {
                                                        "type": "string",
                                                        "example": "pfizer"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Pfizer"
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "format": "url",
                                                        "example": "http://127.0.0.1:8000/assets/img/default-brand-category.png"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/get-health-condition-list": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get all active health conditions",
                "description": "Get all active health conditions.",
                "operationId": "ClientHealthConsitionList",
                "parameters": [
                    {
                        "name": "health_condition",
                        "in": "query",
                        "description": "name of a health condition to search.('empty' to fetch all data)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "immunity boosters"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of health conditions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "List of health conditions."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Hormonal Care"
                                                    },
                                                    "slug": {
                                                        "type": "string",
                                                        "example": "hormonal-care"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Products that help regulate hormones, including thyroid, adrenal, and reproductive hormones.",
                                                        "nullable": true
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "format": "url",
                                                        "example": "http://192.168.100.23:8008/storage/2646/hormonal-balance-icon-design-vector.jpg"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/products/": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get product based on category slug",
                "description": "Get product based on category slug.",
                "operationId": "ClientProductList",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "search product using name",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": ""
                        }
                    },
                    {
                        "name": "brand_slug",
                        "in": "query",
                        "description": "slug of a brand",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "category_slug",
                        "in": "query",
                        "description": "slug of a category",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "health_condition_slug",
                        "in": "query",
                        "description": "slug of a health condition",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "list_type",
                        "in": "query",
                        "description": "Fetch item list based on type(default fetches latest products).(Types values are: random)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Item per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Api page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "All product lists."
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Sit quas consequatur dignissimos voluptatem."
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "sit-quas-consequatur-dignissimos-voluptatem"
                                                            },
                                                            "brand": {
                                                                "type": "string",
                                                                "example": "Roche"
                                                            },
                                                            "isPrescriptionRequired": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "rating": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 3.5
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 137
                                                            },
                                                            "previous_price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": null,
                                                                "nullable": true
                                                            },
                                                            "feature_image": {
                                                                "type": "string",
                                                                "example": "http://192.168.100.23:8008/storage/2061/tablets.jpg"
                                                            },
                                                            "liked": {
                                                                "type": "boolean",
                                                                "example": false
                                                            },
                                                            "discount_percent": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 5
                                                            },
                                                            "variations": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "variation_id": {
                                                                            "type": "integer",
                                                                            "example": 1154
                                                                        },
                                                                        "name": {
                                                                            "type": "string",
                                                                            "example": "Variant-1"
                                                                        },
                                                                        "size_value": {
                                                                            "type": "integer",
                                                                            "example": 100
                                                                        },
                                                                        "size_unit": {
                                                                            "type": "string",
                                                                            "example": "patch"
                                                                        },
                                                                        "price": {
                                                                            "type": "number",
                                                                            "format": "float",
                                                                            "example": 137
                                                                        },
                                                                        "previous_price": {
                                                                            "type": "number",
                                                                            "format": "float",
                                                                            "example": null,
                                                                            "nullable": true
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page_no": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 51
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 501
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/product/{slug}": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Show an product",
                "description": "Show an active brand.",
                "operationId": "ProductShow",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of product",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "sun-pharma"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Product detail fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Product detail fetched successfully."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "Placeat earum iusto iste perspiciatis vel."
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "placeat-earum-iusto-iste-perspiciatis-vel"
                                                },
                                                "brand": {
                                                    "type": "string",
                                                    "example": "Bristol-Myers Squibb"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "<p>Omnis corporis aut a aut et ut sunt...</p>"
                                                },
                                                "added_date": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2025-09-22"
                                                },
                                                "isPrescriptionRequired": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "rating": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 3.8
                                                },
                                                "categories": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Weight Management"
                                                    }
                                                },
                                                "tags": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Sunscreen"
                                                    }
                                                },
                                                "variations": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "variation_id": {
                                                                "type": "integer",
                                                                "example": 1132
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Variant-1"
                                                            },
                                                            "size_value": {
                                                                "type": "integer",
                                                                "example": 100
                                                            },
                                                            "size_unit": {
                                                                "type": "string",
                                                                "example": "ml"
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 167
                                                            },
                                                            "previous_price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": null,
                                                                "nullable": true
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "featured_image": {
                                                    "type": "string",
                                                    "format": "url",
                                                    "example": "http://192.168.100.23:8008/storage/1881/syrup.jpg"
                                                },
                                                "gallery_images": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "format": "url",
                                                        "example": "http://192.168.100.23:8008/storage/1882/tablets.jpg"
                                                    }
                                                },
                                                "liked": {
                                                    "type": "boolean",
                                                    "example": false
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/packages": {
            "get": {
                "tags": [
                    "Package"
                ],
                "summary": "Get package list",
                "description": "Get package list.",
                "operationId": "ClientPackageList",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Item per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Api page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Package list response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Package lists"
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Mega Combo"
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "mega-combo"
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 3640
                                                            },
                                                            "previous_price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 7000,
                                                                "nullable": true
                                                            },
                                                            "discount_percent": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 3
                                                            },
                                                            "rating": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 2.8
                                                            },
                                                            "image": {
                                                                "type": "string",
                                                                "example": "http://192.168.100.23:8008/storage/1642/package-4.jpg"
                                                            },
                                                            "liked": {
                                                                "type": "boolean",
                                                                "example": false
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page_no": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 8
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/package/{slug}": {
            "get": {
                "tags": [
                    "Package"
                ],
                "summary": "Show a package",
                "description": "Show a package.",
                "operationId": "PackageShow",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of package",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "sun-pharma"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Package details retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Package details retrieved successfully."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "Super Offer"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "super-offer"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "<p>Package details...</p>"
                                                },
                                                "price": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 9000
                                                },
                                                "discount_price": {
[...]
