{
    "openapi": "3.0.0",
    "info": {
        "title": "Medishop",
        "description": "Medishop Project",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.medishop.dworklabs.com/api/v1",
            "description": "Live API Server"
        },
        {
            "url": "http://192.168.100.23:8008/api/v1",
            "description": "Localhost API Server 1"
        },
        {
            "url": "http://127.0.0.1:8000/api/v1",
            "description": "Localhost API Server 2"
        }
    ],
    "paths": {
        "/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User Register Form(only client can register)",
                "description": "Registration form for user.",
                "operationId": "c16ecd14f226bec66e9eb8ad7a1725a9",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "mobile_number",
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "Dave Chappelle"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "dev.chappelle@mailinator.com"
                                    },
                                    "mobile_number": {
                                        "type": "string",
                                        "example": "9452114525"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "secret123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "example": "secret123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful registration",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Please check your email to verify registration"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login Api",
                "description": "Login API(user_type : USER | VENDOR | ADMIN).",
                "operationId": "1ebd53789b5149840dfa569708b2a921",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "vendor@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful vendor login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Welcome, vendor00"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "uuid": {
                                                            "type": "string",
                                                            "format": "uuid",
                                                            "example": "0b831981-5ad1-3bdc-a1bd-b514676b3f98"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "vendor00"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "format": "email",
                                                            "example": "vendor@gmail.com"
                                                        },
                                                        "user_type": {
                                                            "type": "string",
                                                            "example": "VENDOR"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "Bearer 4|VzkoJxyMfelFTKdiJlEnN3n3OhqTxS5SKSzDxJ2z61dd765a"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User logout",
                "description": "logs out a user.",
                "operationId": "LogoutUser",
                "responses": {
                    "200": {
                        "description": "User logout successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "You are logged out"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/forgot-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Forgot password form handler",
                "description": "Forgot password form handler",
                "operationId": "ForgotPassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "vendor@gmail.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User logout successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "You are logged out"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/get-brand-list": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get all active brand",
                "description": "Get all active brand.",
                "operationId": "ClientBrandList",
                "responses": {
                    "200": {
                        "description": "List of active brands",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "List of active brands"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "slug": {
                                                        "type": "string",
                                                        "example": "pfizer"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Pfizer"
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "example": "http://127.0.0.1:8000/assets/img/default-brand-category.png"
                                                    },
                                                    "is_featured": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "is_popular": {
                                                        "type": "integer",
                                                        "example": 0
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/get-category-list": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get all active categories",
                "description": "Get all active categories.",
                "operationId": "ClientCategoryList",
                "responses": {
                    "200": {
                        "description": "List of active categories",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "List of active categories"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "slug": {
                                                        "type": "string",
                                                        "example": "pfizer"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Pfizer"
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "format": "url",
                                                        "example": "http://127.0.0.1:8000/assets/img/default-brand-category.png"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/products/": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get product based on category slug",
                "description": "Get product based on category slug.",
                "operationId": "ClientProductList",
                "parameters": [
                    {
                        "name": "category_slug",
                        "in": "query",
                        "description": "slug of a category('all' to fetch all random products)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "all"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Item per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Api page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "All product lists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "All product lists."
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Consequuntur sunt suscipit dolorem maxime ut."
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "consequuntur-sunt-suscipit-dolorem-maxime-ut"
                                                            },
                                                            "brand": {
                                                                "type": "string",
                                                                "example": "AstraZeneca"
                                                            },
                                                            "rating": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 3.7
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 2016.7
                                                            },
                                                            "previous_price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 2345,
                                                                "nullable": true
                                                            },
                                                            "feature_image": {
                                                                "type": "string",
                                                                "example": "http://192.168.100.23:8008/storage/576/visc-inhaler.jpg"
                                                            },
                                                            "liked": {
                                                                "type": "boolean",
                                                                "example": false
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 30
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 300
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/product/{slug}": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Show an product",
                "description": "Show an active brand.",
                "operationId": "ProductShow",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of product",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "sun-pharma"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Product detail response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Product detail fetched successfully."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "Incidunt ratione recusandae dolor quod."
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "incidunt-ratione-recusandae-dolor-quod"
                                                },
                                                "brand": {
                                                    "type": "string",
                                                    "example": "AstraZeneca"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "<p>Qui impedit consectetur necessitatibus eos iste odio...</p>"
                                                },
                                                "added_date": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2025-09-24"
                                                },
                                                "categories": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Eye Care"
                                                    }
                                                },
                                                "tags": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Doxycycline"
                                                    }
                                                },
                                                "variations": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "variation_id": {
                                                                "type": "integer",
                                                                "example": 322
                                                            },
                                                            "size_value": {
                                                                "type": "number",
                                                                "example": 500
                                                            },
                                                            "size_unit": {
                                                                "type": "string",
                                                                "example": "gm"
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 1778.28
                                                            },
                                                            "previous_price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 2044,
                                                                "nullable": true
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "featured_image": {
                                                    "type": "string",
                                                    "example": "http://192.168.100.23:8008/storage/601/medi-plaster.png"
                                                },
                                                "gallery_images": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "http://192.168.100.23:8008/storage/602/tablets.jpg"
                                                    }
                                                },
                                                "liked": {
                                                    "type": "boolean",
                                                    "example": false
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/packages": {
            "get": {
                "tags": [
                    "Package"
                ],
                "summary": "Get package list",
                "description": "Get package list.",
                "operationId": "ClientPackageList",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Item per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Api page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Package list response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Package lists"
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Mega Combo"
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "mega-combo"
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 3640
                                                            },
                                                            "previous_price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 7000,
                                                                "nullable": true
                                                            },
                                                            "rating": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 2.8
                                                            },
                                                            "image": {
                                                                "type": "string",
                                                                "example": "http://192.168.100.23:8008/storage/1642/package-4.jpg"
                                                            },
                                                            "liked": {
                                                                "type": "boolean",
                                                                "example": false
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 8
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/package/{slug}": {
            "get": {
                "tags": [
                    "Package"
                ],
                "summary": "Show a package",
                "description": "Show a package.",
                "operationId": "PackageShow",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of package",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "sun-pharma"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Package details retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Package details retrieved successfully."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "Mega Combo"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "<p>Eos veniam aliquam qui ex...</p>"
                                                },
                                                "price": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 7000
                                                },
                                                "discount_price": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 3640
                                                },
                                                "rating": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 2.8
                                                },
                                                "featured_image": {
                                                    "type": "string",
                                                    "example": "http://192.168.100.23:8008/storage/1642/package-4.jpg"
                                                },
                                                "gallery_images": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "http://192.168.100.23:8008/storage/1643/package-1.jpg"
                                                    }
                                                },
                                                "products": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "image": {
                                                                "type": "string",
                                                                "example": "http://192.168.100.23:8008/storage/236/tablets.jpg"
                                                            },
                                                            "product_name": {
                                                                "type": "string",
                                                                "example": "Magni voluptas maiores quia consequuntur."
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "magni-voluptas-maiores-quia-consequuntur"
                                                            },
                                                            "size_value": {
                                                                "type": "integer",
                                                                "example": 650
                                                            },
                                                            "size_unit": {
                                                                "type": "string",
                                                                "example": "gm"
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 3468
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "liked": {
                                                    "type": "boolean",
                                                    "example": false
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "Authentication",
            "description": "Authentication"
        },
        {
            "name": "Product",
            "description": "Product"
        },
        {
            "name": "Package",
            "description": "Package"
        }
    ],
    "components": {
        "securitySchemes": {
            "sanctum": {
                "type": "apiKey",
                "description": "Enter token in format (Bearer <token>)",
                "name": "Authorization",
                "in": "header"
            }
        }
    }
}