{
    "openapi": "3.0.0",
    "info": {
        "title": "Medishop",
        "description": "Medishop Project",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.medishop.dworklabs.com/api/v1",
            "description": "Live API Server"
        },
        {
            "url": "http://192.168.100.23:8008/api/v1",
            "description": "Localhost API Server 1"
        },
        {
            "url": "http://127.0.0.1:8000/api/v1",
            "description": "Localhost API Server 2"
        }
    ],
    "paths": {
        "/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User Register Form(only client can register)",
                "description": "Registration form for user.",
                "operationId": "c16ecd14f226bec66e9eb8ad7a1725a9",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "mobile_number",
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "Dave Chappelle"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "dev.chappelle@mailinator.com"
                                    },
                                    "mobile_number": {
                                        "type": "string",
                                        "example": "9452114525"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "secret123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "example": "secret123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful registration",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Please check your email to verify registration"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login Api",
                "description": "Login API(user_type : USER | VENDOR | ADMIN).",
                "operationId": "1ebd53789b5149840dfa569708b2a921",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "vendor@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful vendor login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Welcome, vendor00"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "uuid": {
                                                            "type": "string",
                                                            "format": "uuid",
                                                            "example": "0b831981-5ad1-3bdc-a1bd-b514676b3f98"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "vendor00"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "format": "email",
                                                            "example": "vendor@gmail.com"
                                                        },
                                                        "user_type": {
                                                            "type": "string",
                                                            "example": "VENDOR"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "Bearer 4|VzkoJxyMfelFTKdiJlEnN3n3OhqTxS5SKSzDxJ2z61dd765a"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User logout",
                "description": "logs out a user.",
                "operationId": "LogoutUser",
                "responses": {
                    "200": {
                        "description": "User logout successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "You are logged out"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/forgot-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Forgot password form handler",
                "description": "Forgot password form handler",
                "operationId": "ForgotPassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "vendor@gmail.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User logout successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "You are logged out"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/get-brand-list": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get all active brand",
                "description": "Get all active brand.",
                "operationId": "ClientBrandList",
                "responses": {
                    "200": {
                        "description": "List of active brands",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "List of active brands"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "slug": {
                                                        "type": "string",
                                                        "example": "pfizer"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Pfizer"
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "example": "http://127.0.0.1:8000/assets/img/default-brand-category.png"
                                                    },
                                                    "is_featured": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "is_popular": {
                                                        "type": "integer",
                                                        "example": 0
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/get-category-list": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get all active categories",
                "description": "Get all active categories.",
                "operationId": "ClientCategoryList",
                "responses": {
                    "200": {
                        "description": "List of active categories",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "List of active categories"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "slug": {
                                                        "type": "string",
                                                        "example": "pfizer"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Pfizer"
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "format": "url",
                                                        "example": "http://127.0.0.1:8000/assets/img/default-brand-category.png"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/fetch-section/{section}": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get product based on section",
                "description": "Get product based on section.",
                "operationId": "ClientSectionList",
                "parameters": [
                    {
                        "name": "section",
                        "in": "path",
                        "description": "Section of product(recent,flash,featured,popular)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "recent"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Item per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of product based on sections",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "List of active categories"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "slug": {
                                                        "type": "string",
                                                        "example": "pfizer"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Pfizer"
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "format": "url",
                                                        "example": "http://127.0.0.1:8000/assets/img/default-brand-category.png"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "Authentication",
            "description": "Authentication"
        },
        {
            "name": "Product",
            "description": "Product"
        }
    ],
    "components": {
        "securitySchemes": {
            "sanctum": {
                "type": "apiKey",
                "description": "Enter token in format (Bearer <token>)",
                "name": "Authorization",
                "in": "header"
            }
        }
    }
}