{
    "openapi": "3.0.0",
    "info": {
        "title": "Medishop",
        "description": "Medishop Project",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.medishop.dworklabs.com/api/v1",
            "description": "Live API Server"
        },
        {
            "url": "http://192.168.100.23:8008/api/v1",
            "description": "Localhost API Server 1"
        },
        {
            "url": "http://127.0.0.1:8000/api/v1",
            "description": "Localhost API Server 2"
        },
        {
            "url": "http://192.168.100.18:8000/api/v1",
            "description": "Localhost API Server 3"
        }
    ],
    "paths": {
        "/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User Register Form(only client can register)",
                "description": "Registration form for user.",
                "operationId": "c16ecd14f226bec66e9eb8ad7a1725a9",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "mobile_number",
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "Dave Chappelle"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "dev.chappelle@mailinator.com"
                                    },
                                    "mobile_number": {
                                        "type": "string",
                                        "example": "9452114525"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "secret123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "example": "secret123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful registration",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Please check your email to verify registration"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login Api",
                "description": "Login API(user_type : USER | VENDOR | ADMIN).",
                "operationId": "1ebd53789b5149840dfa569708b2a921",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "vendor@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful vendor login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Welcome, vendor00"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "uuid": {
                                                            "type": "string",
                                                            "format": "uuid",
                                                            "example": "0b831981-5ad1-3bdc-a1bd-b514676b3f98"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "vendor00"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "format": "email",
                                                            "example": "vendor@gmail.com"
                                                        },
                                                        "user_type": {
                                                            "type": "string",
                                                            "example": "VENDOR"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "Bearer 4|VzkoJxyMfelFTKdiJlEnN3n3OhqTxS5SKSzDxJ2z61dd765a"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User logout",
                "description": "logs out a user.",
                "operationId": "LogoutUser",
                "responses": {
                    "200": {
                        "description": "User logout successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "You are logged out"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/forgot-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Forgot password form handler",
                "description": "Forgot password form handler",
                "operationId": "ForgotPassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "vendor@gmail.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User logout successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "You are logged out"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/favourite/{slug}/product": {
            "get": {
                "tags": [
                    "Favourite"
                ],
                "summary": "Toggle a favourite status of a product",
                "description": "Toggle a favourite status of a product.",
                "operationId": "ProductFavoutiteToggle",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of product",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "soluta-cum-reiciendis-dolorum-sunt"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful toggle",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Item added to favourite"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/liked-products": {
            "get": {
                "tags": [
                    "Favourite"
                ],
                "summary": "List of liked products of a user.",
                "description": "List of liked products of a user.",
                "operationId": "ProductFavoutiteList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "description": "Pagination page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "path",
                        "description": "Item per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful toggle",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Item added to favourite"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/get-brand-list": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get all active brand",
                "description": "Get all active brand.",
                "operationId": "ClientBrandList",
                "responses": {
                    "200": {
                        "description": "List of active brands",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "List of active brands"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "slug": {
                                                        "type": "string",
                                                        "example": "pfizer"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Pfizer"
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "example": "http://127.0.0.1:8000/assets/img/default-brand-category.png"
                                                    },
                                                    "is_featured": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "is_popular": {
                                                        "type": "integer",
                                                        "example": 0
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/get-category-list": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get all active categories",
                "description": "Get all active categories.",
                "operationId": "ClientCategoryList",
                "responses": {
                    "200": {
                        "description": "List of active categories",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "List of active categories"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "slug": {
                                                        "type": "string",
                                                        "example": "pfizer"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Pfizer"
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "format": "url",
                                                        "example": "http://127.0.0.1:8000/assets/img/default-brand-category.png"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/products/": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get product based on category slug",
                "description": "Get product based on category slug.",
                "operationId": "ClientProductList",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "search product using name",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": ""
                        }
                    },
                    {
                        "name": "category_slug",
                        "in": "query",
                        "description": "slug of a category('all' to fetch all random products)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "all"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Item per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Api page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "All product lists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "All product lists."
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Consequuntur sunt suscipit dolorem maxime ut."
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "consequuntur-sunt-suscipit-dolorem-maxime-ut"
                                                            },
                                                            "brand": {
                                                                "type": "string",
                                                                "example": "AstraZeneca"
                                                            },
                                                            "rating": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 3.7
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 2016.7
                                                            },
                                                            "previous_price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 2345,
                                                                "nullable": true
                                                            },
                                                            "feature_image": {
                                                                "type": "string",
                                                                "example": "http://192.168.100.23:8008/storage/576/visc-inhaler.jpg"
                                                            },
                                                            "liked": {
                                                                "type": "boolean",
                                                                "example": false
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page_no": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 30
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 300
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/product/{slug}": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Show an product",
                "description": "Show an active brand.",
                "operationId": "ProductShow",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of product",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "sun-pharma"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Product detail fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Product detail fetched successfully."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "Placeat earum iusto iste perspiciatis vel."
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "placeat-earum-iusto-iste-perspiciatis-vel"
                                                },
                                                "brand": {
                                                    "type": "string",
                                                    "example": "Bristol-Myers Squibb"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "<p>Omnis corporis aut a aut et ut sunt...</p>"
                                                },
                                                "added_date": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2025-09-22"
                                                },
                                                "rating": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 3.8
                                                },
                                                "categories": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Weight Management"
                                                    }
                                                },
                                                "tags": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Sunscreen"
                                                    }
                                                },
                                                "variations": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "variation_id": {
                                                                "type": "integer",
                                                                "example": 1132
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Variant-1"
                                                            },
                                                            "size_value": {
                                                                "type": "integer",
                                                                "example": 100
                                                            },
                                                            "size_unit": {
                                                                "type": "string",
                                                                "example": "ml"
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 167
                                                            },
                                                            "previous_price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": null,
                                                                "nullable": true
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "featured_image": {
                                                    "type": "string",
                                                    "format": "url",
                                                    "example": "http://192.168.100.23:8008/storage/1881/syrup.jpg"
                                                },
                                                "gallery_images": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "format": "url",
                                                        "example": "http://192.168.100.23:8008/storage/1882/tablets.jpg"
                                                    }
                                                },
                                                "liked": {
                                                    "type": "boolean",
                                                    "example": false
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/packages": {
            "get": {
                "tags": [
                    "Package"
                ],
                "summary": "Get package list",
                "description": "Get package list.",
                "operationId": "ClientPackageList",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Item per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Api page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Package list response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Package lists"
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Mega Combo"
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "mega-combo"
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 3640
                                                            },
                                                            "previous_price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 7000,
                                                                "nullable": true
                                                            },
                                                            "rating": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 2.8
                                                            },
                                                            "image": {
                                                                "type": "string",
                                                                "example": "http://192.168.100.23:8008/storage/1642/package-4.jpg"
                                                            },
                                                            "liked": {
                                                                "type": "boolean",
                                                                "example": false
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page_no": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 8
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/package/{slug}": {
            "get": {
                "tags": [
                    "Package"
                ],
                "summary": "Show a package",
                "description": "Show a package.",
                "operationId": "PackageShow",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of package",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "sun-pharma"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Package details retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Package details retrieved successfully."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "Super Offer"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "super-offer"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "<p>Package details...</p>"
                                                },
                                                "price": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 9000
                                                },
                                                "discount_price": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0
                                                },
                                                "rating": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 2.8
                                                },
                                                "featured_image": {
                                                    "type": "string",
                                                    "example": "http://192.168.100.23:8008/storage/2636/package-1.jpg"
                                                },
                                                "gallery_images": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "http://192.168.100.23:8008/storage/2637/package-2.jpg"
                                                    }
                                                },
                                                "products": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "image": {
                                                                "type": "string",
                                                                "example": "http://192.168.100.23:8008/storage/2021/cream.jpg"
                                                            },
                                                            "product_name": {
                                                                "type": "string",
                                                                "example": "At odio sed velit numquam."
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "at-odio-sed-velit-numquam"
                                                            },
                                                            "size_value": {
                                                                "type": "number",
                                                                "example": 100
                                                            },
                                                            "size_unit": {
                                                                "type": "string",
                                                                "example": "IU"
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 142
                                                            },
                                                            "brand": {
                                                                "type": "string",
                                                                "example": "Abbott"
                                                            },
                                                            "variant_name": {
                                                                "type": "string",
                                                                "example": "Variant-8"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "categories": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Heart Care"
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "heart-care"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "liked": {
                                                    "type": "boolean",
                                                    "example": false
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/user/profile": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get authenticated user profile",
                "description": "Retrieve details of the currently authenticated user.",
                "operationId": "d131fd395f0ffba5a93155925bb6e566",
                "responses": {
                    "200": {
                        "description": "User profile retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "user detail"
                                        },
                                        "data": {
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "John Doe"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "john@example.com"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "Active"
                                                },
                                                "user_type": {
                                                    "type": "string",
                                                    "example": "Admin"
                                                },
                                                "mobile_number": {
                                                    "type": "string",
                                                    "example": "+9779812345678"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Update authenticated user profile",
                "description": "Update user's name, mobile number, and optional profile image. Use `_method=PUT` for method spoofing.",
                "operationId": "b3e59f21d71b007c120cab54b23b1682",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "_method"
                                ],
                                "properties": {
                                    "_method": {
                                        "description": "Laravel method spoofing for PUT/PATCH requests",
                                        "type": "string",
                                        "example": "PUT"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "mobile_number": {
                                        "type": "string",
                                        "example": "9840000000"
                                    },
                                    "image": {
                                        "description": "Optional profile image to upload",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profile updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "profile update successfull"
                                        },
                                        "data": {
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "John Doe"
                                                },
                                                "mobile_number": {
                                                    "type": "string",
                                                    "example": "9840000000"
                                                },
                                                "image": {
                                                    "type": "string",
                                                    "example": "http://example.com/storage/profile/abcd1234.jpg"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/orders": {
            "post": {
                "tags": [
                    "Order"
                ],
                "summary": "Submit an order.",
                "description": "Submit an order.NOTE: name, email, mobile fields are only needed for GUEST USER.",
                "operationId": "CODOrder",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "payment_method",
                                    "name",
                                    "email",
                                    "mobile",
                                    "address",
                                    "products"
                                ],
                                "properties": {
                                    "payment_method": {
                                        "type": "string",
                                        "example": "COD"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "James P. Sullivan"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "james.sullivan100@example.com"
                                    },
                                    "mobile": {
                                        "type": "string",
                                        "example": "9854112547"
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "Shyambhu, Kathmandu"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "some description of this order COD"
                                    },
                                    "products": {
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "product_slug",
                                                "variant_id",
                                                "quantity"
                                            ],
                                            "properties": {
                                                "product_slug": {
                                                    "type": "string",
                                                    "example": "unde-a-maiores-et-omnis"
                                                },
                                                "variant_id": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "quantity": {
                                                    "type": "integer",
                                                    "example": 1
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "packages": {
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "package_slug",
                                                "quantity"
                                            ],
                                            "properties": {
                                                "package_slug": {
                                                    "type": "string",
                                                    "example": "deluxe-box"
                                                },
                                                "quantity": {
                                                    "type": "integer",
                                                    "example": 1
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Your order has been placed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Your order has been placed successfully."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "amount": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 27869.54
                                                },
                                                "order_number": {
                                                    "type": "string",
                                                    "example": "UJUdS1lXDpl2OpSwyQJS"
                                                },
                                                "payment_method": {
                                                    "type": "string",
                                                    "example": "Cash on Delivery"
                                                },
                                                "date": {
                                                    "type": "string",
                                                    "example": "2025/10/13"
                                                },
                                                "ordered_items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "item_name": {
                                                                "type": "string",
                                                                "example": "Debitis debitis autem consectetur saepe."
                                                            },
                                                            "variant_name": {
                                                                "type": "string",
                                                                "example": "Variant-2",
                                                                "nullable": true
                                                            },
                                                            "quantity": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 1385.28
                                                            },
                                                            "total": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 1385.28
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "delivery_address": {
                                                    "type": "string",
                                                    "example": "Shyambhu, Kathmandu"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/add-to-cart": {
            "post": {
                "tags": [
                    "Cart"
                ],
                "summary": "Add an item to the cart",
                "description": "Adds either a product or a package to the user's cart depending on the presence of the variant ID. NOTE: Variant ID of the product.  \n     *                 If omitted, the request is treated as adding a **package** to the cart.  \n     *                 If provided, the request is treated as adding a **product** to the cart.\n     *                 If both variant_id and quantity are omitted, product of cheapest variant item is added.",
                "operationId": "AddToCart",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "slug",
                                    "quantity"
                                ],
                                "properties": {
                                    "slug": {
                                        "description": "Unique slug identifier for the product or package.",
                                        "type": "string",
                                        "example": "unde-a-maiores-et-omnis"
                                    },
                                    "variant_id": {
                                        "description": "Variant ID of the product.  \n     *                 If omitted, the request is treated as adding a **package** to the cart.  \n     *                 If provided, the request is treated as adding a **product** to the cart.",
                                        "type": "integer",
                                        "example": 2,
                                        "nullable": true
                                    },
                                    "quantity": {
                                        "description": "Number of items to add to the cart.",
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Item has been added to cart",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Item has been added to cart"
                                        },
                                        "data": {
                                            "description": "Data payload (null if no cart details returned)",
                                            "type": "string",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/my-cart": {
            "get": {
                "tags": [
                    "Cart"
                ],
                "summary": "Fetch cart items of a logged in user.",
                "description": "Fetch cart items of a logged in user.",
                "operationId": "MyCart",
                "responses": {
                    "200": {
                        "description": "My Cart items.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "My Cart items."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "cart_items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "item_uuid": {
                                                                "type": "string",
                                                                "format": "uuid",
                                                                "example": "27ada7a2-4dd7-4f49-96b3-9a7c8b72b2ee"
                                                            },
                                                            "item_type": {
                                                                "type": "string",
                                                                "example": "product"
                                                            },
                                                            "item_name": {
                                                                "type": "string",
                                                                "example": "Debitis debitis autem consectetur saepe."
                                                            },
                                                            "item_slug": {
                                                                "type": "string",
                                                                "example": "debitis-debitis-autem-consectetur-saepe"
                                                            },
                                                            "brand_name": {
                                                                "type": "string",
                                                                "example": "Sanofi",
                                                                "nullable": true
                                                            },
                                                            "variant_name": {
                                                                "type": "string",
                                                                "example": "200 patch",
                                                                "nullable": true
                                                            },
                                                            "image": {
                                                                "type": "string",
                                                                "example": "http://192.168.100.23:8008/storage/91/medi-plaster.png"
                                                            },
                                                            "variant_id": {
                                                                "type": "integer",
                                                                "example": 2,
                                                                "nullable": true
                                                            },
                                                            "quantity": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 1385.28
                                                            },
                                                            "subtotal": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 1385.28
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "cart_total_items": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "total": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 19674.34
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/update-cart-item/{uuid}": {
            "post": {
                "tags": [
                    "Cart"
                ],
                "summary": "Update an item quantity of a cart. if quantity is 0, that item is removed.",
                "description": "Update an item quantity of a cart.",
                "operationId": "UpdateCartItem",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of cart item",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "58d8cb4a-11a9-4aee-89e0-d996f86254f4"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "quantity"
                                ],
                                "properties": {
                                    "quantity": {
                                        "type": "integer",
                                        "example": "5"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cart item quantity updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Response message confirming the cart item quantity update",
                                            "type": "string",
                                            "example": "A cart item quantity has been updated."
                                        },
                                        "data": {
                                            "description": "Additional response data (null if not applicable)",
                                            "type": "string",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "description": "Indicates if the operation was successful",
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/remove-cart-item/{uuid}": {
            "get": {
                "tags": [
                    "Cart"
                ],
                "summary": "Remove a cart item of a logged in user.NOTE: slug value can be: package or product.",
                "description": "Remove a cart item of a logged in user.",
                "operationId": "MyCartItemRemover",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Item uuid of an item(product/package)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "c3f6d58b-90f3-47ad-82ed-e1385df0ea2a"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Item removed from cart successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Response message confirming item removal",
                                            "type": "string",
                                            "example": "Item has been removed"
                                        },
                                        "data": {
                                            "description": "Additional response data (null if not applicable)",
                                            "type": "string",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "description": "Indicates if the operation was successful",
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/package/{slug}/review": {
            "get": {
                "tags": [
                    "PackageReview"
                ],
                "summary": "Get reviews based on package slug.",
                "description": "Get reviews based on package slug.",
                "operationId": "packageReviewList",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of package",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "pubg-sleeves-confortable-finger"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Item per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Api page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Review fetched successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Review fetched successfully."
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "comment_uuid": {
                                                                "type": "string",
                                                                "example": "08435868-74ba-419c-8788-6c647868ec97"
                                                            },
                                                            "user_name": {
                                                                "type": "string",
                                                                "example": "user00"
                                                            },
                                                            "review": {
                                                                "type": "string",
                                                                "example": "I think.' And she squeezed herself up on tiptoe..."
                                                            },
                                                            "rating": {
                                                                "type": "integer",
                                                                "example": 5
                                                            },
                                                            "user_type": {
                                                                "properties": {
                                                                    "user_type": {
                                                                        "type": "integer",
                                                                        "example": 3
                                                                    },
                                                                    "label": {
                                                                        "type": "string",
                                                                        "example": "USER"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "review_date": {
                                                                "type": "string",
                                                                "example": "02 Oct 2025"
                                                            },
                                                            "is_review_edited": {
                                                                "type": "boolean",
                                                                "example": true
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 25
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "PackageReview"
                ],
                "summary": "Store a package review",
                "description": "Store a package review.",
                "operationId": "StorepackageReview",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of a package",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "maccoffee-original-coffee"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "review",
                                    "rating"
                                ],
                                "properties": {
                                    "review": {
                                        "type": "string",
                                        "example": "Some package review"
                                    },
                                    "rating": {
                                        "type": "integer",
                                        "example": 5
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Item reviewed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Item reviewed successfully."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null,
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/fetch-package-ratings/{slug}": {
            "get": {
                "tags": [
                    "PackageReview"
                ],
                "summary": "Get ratings based on package slug.",
                "description": "Get ratings based on package slug.",
[...]
