{
    "openapi": "3.0.0",
    "info": {
        "title": "Medishop",
        "description": "Medishop Project",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.medishop.dworklabs.com/api/v1",
            "description": "Live API Server"
        },
        {
            "url": "http://192.168.100.23:8008/api/v1",
            "description": "Localhost API Server 1"
        },
        {
            "url": "http://127.0.0.1:8000/api/v1",
            "description": "Localhost API Server 2"
        },
        {
            "url": "http://192.168.100.18:8000/api/v1",
            "description": "Localhost API Server 3"
        }
    ],
    "paths": {
        "/vendor/orders": {
            "get": {
                "tags": [
                    "Vendor Orders"
                ],
                "summary": "Get list of assigned orders for the logged-in vendor",
                "operationId": "747e630009c98afa4c338e4108412efb",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page (default: 10)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by customer name, email, mobile, or address",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "John Doe"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of assigned orders retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "List of Assign Orders."
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 12
                                                            },
                                                            "order_code": {
                                                                "type": "string",
                                                                "example": "ORD-2025-001"
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 2500.75
                                                            },
                                                            "user_name": {
                                                                "type": "string",
                                                                "example": "John Doe"
                                                            },
                                                            "user_email": {
                                                                "type": "string",
                                                                "example": "john@example.com"
                                                            },
                                                            "order_items_count": {
                                                                "type": "integer",
                                                                "example": 3
                                                            },
                                                            "status": {
                                                                "type": "string",
                                                                "example": "pending"
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-10-20 12:30:00"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 50
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/vendor/orders/{order}": {
            "get": {
                "tags": [
                    "Vendor Orders"
                ],
                "summary": "Get detailed information about a specific assigned order",
                "operationId": "57354d89f137e8d8aeab07c3a199cbf9",
                "parameters": [
                    {
                        "name": "order",
                        "in": "path",
                        "description": "Order UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "55c9af7b-e7fb-4798-b3f6-3e76edc5cf2f"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Order detail retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Order Detail."
                                        },
                                        "data": {
                                            "properties": {
                                                "order_id": {
                                                    "type": "integer",
                                                    "example": 12
                                                },
                                                "order_code": {
                                                    "type": "string",
                                                    "example": "ORD-2025-001"
                                                },
                                                "price": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 2500.75
                                                },
                                                "payment_method": {
                                                    "type": "string",
                                                    "example": "esewa"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "pending"
                                                },
                                                "customer_name": {
                                                    "type": "string",
                                                    "example": "John Doe"
                                                },
                                                "address": {
                                                    "type": "string",
                                                    "example": "Kathmandu, Nepal"
                                                },
                                                "order_items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "product_name": {
                                                                "type": "string",
                                                                "example": "Laptop Pro 15"
                                                            },
                                                            "variant_name": {
                                                                "type": "string",
                                                                "example": "8GB / 256GB"
                                                            },
                                                            "quantity": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 1200.5
                                                            },
                                                            "total": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 1200.5
                                                            },
                                                            "featured_image": {
                                                                "type": "string",
                                                                "example": "https://example.com/image.jpg"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Order not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Vendor Orders"
                ],
                "summary": "Update the status of an assigned order",
                "operationId": "d0d4d14d4119b329ff52427f8f553930",
                "parameters": [
                    {
                        "name": "order",
                        "in": "path",
                        "description": "Order ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "55c9af7b-e7fb-4798-b3f6-3e76edc5cf2f"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "status"
                                ],
                                "properties": {
                                    "status": {
                                        "description": "Order status",
                                        "type": "string",
                                        "enum": [
                                            "Processing",
                                            "Shipped",
                                            "Delivered"
                                        ],
                                        "example": "Processing"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Order status updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Order has been update successfull"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request data"
                    },
                    "404": {
                        "description": "Order not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/vendor/registration": {
            "post": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Store a vendor",
                "description": "Registration api of a vendor.",
                "operationId": "StoreVendor",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "store_name",
                                    "store_description",
                                    "location",
                                    "country",
                                    "state",
                                    "district",
                                    "municipality",
                                    "postal_code",
                                    "bank_name",
                                    "bank_account_holder_name",
                                    "bank_account_number",
                                    "vendor_citizenship_card",
                                    "vendor_business_license",
                                    "vendor_tax_certificate",
                                    "name",
                                    "email",
                                    "mobile_number"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Dave Chappelle"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "dev.chappelle@mailinator.com"
                                    },
                                    "mobile_number": {
                                        "type": "string",
                                        "example": "9452114525"
                                    },
                                    "store_name": {
                                        "type": "string",
                                        "example": "Lilly Lee Store"
                                    },
                                    "store_description": {
                                        "type": "string",
                                        "example": "Lilly Lee Store Description"
                                    },
                                    "location": {
                                        "type": "string",
                                        "example": "Maharajgunj"
                                    },
                                    "country": {
                                        "type": "string",
                                        "example": "Nepal"
                                    },
                                    "state": {
                                        "type": "string",
                                        "example": "Bagmati Province"
                                    },
                                    "district": {
                                        "type": "string",
                                        "example": "Kathmandu"
                                    },
                                    "municipality": {
                                        "type": "string",
                                        "example": "Budhanilkantha Municipality"
                                    },
                                    "postal_code": {
                                        "type": "string",
                                        "example": "4528"
                                    },
                                    "bank_name": {
                                        "type": "string",
                                        "example": "Laxmi Sunrise"
                                    },
                                    "bank_account_holder_name": {
                                        "type": "string",
                                        "example": "Laxmi Thapa"
                                    },
                                    "bank_account_number": {
                                        "type": "string",
                                        "example": "21547741201300157899"
                                    },
                                    "vendor_citizenship_card": {
                                        "description": "Multiple image files to upload vendor citizenship card",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "vendor_business_license": {
                                        "description": "Multiple image files to upload vendor business license",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "vendor_tax_certificate": {
                                        "description": "Multiple image files to upload vendor tax certificate",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Vendor added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor has been registered. please check your email to verify"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/vendor/product": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get all available products",
                "description": "Get all available products.",
                "operationId": "VendorProductList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number of list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items on each page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Available product lists.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Available product lists."
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "status": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "is_approved_by_admin": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Laudantium quo ut vel id illo ut qui commodi."
                                                            },
                                                            "product_uuid": {
                                                                "type": "string",
                                                                "example": "093db091-130c-4274-8293-2f9c7112466c"
                                                            },
                                                            "brand": {
                                                                "type": "string",
                                                                "example": "Johnson & Johnson"
                                                            },
                                                            "views_count": {
                                                                "type": "integer",
                                                                "example": 0
                                                            },
                                                            "total_units_in_stock": {
                                                                "type": "integer",
                                                                "example": 467
                                                            },
                                                            "rating": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 3.6
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 88
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 88
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/vendor/product-variants/{uuid}": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get products variants",
                "description": "Get products variants.",
                "operationId": "VendorProductVariant",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of a product",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "54115543-b75c-4013-bf19-7aa4efd35240"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Available product lists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Available product lists"
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "status": {
                                                                "description": "Product status (1=active, 0=inactive)",
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "is_approved_by_admin": {
                                                                "description": "Approval status by admin",
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Laborum sunt facilis odio enim alias."
                                                            },
                                                            "uuid": {
                                                                "type": "string",
                                                                "format": "uuid",
                                                                "example": "54115543-b75c-4013-bf19-7aa4efd35240"
                                                            },
                                                            "brand": {
                                                                "type": "string",
                                                                "example": "Pfizer"
                                                            },
                                                            "views_count": {
                                                                "type": "integer",
                                                                "example": 0
                                                            },
                                                            "total_units_in_stock": {
                                                                "type": "integer",
                                                                "example": 753
                                                            },
                                                            "rating": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 2.5
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 96
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 96
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/vendor/product/{uuid}": {
            "post": {
                "tags": [
                    "Product"
                ],
                "summary": "Add stock for vendor products",
                "description": "Add stock details for product variations",
                "operationId": "AddVendorStock",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of a product",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "54115543-b75c-4013-bf19-7aa4efd35240"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "stock": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "product_variation_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "units_in_stock": {
                                                    "type": "integer",
                                                    "example": 50
                                                },
                                                "price": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 500
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Stock added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Stock added successfully."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        }
    },
    "tags": [
        {
            "name": "Vendor Orders",
            "description": "Vendor Orders"
        },
        {
            "name": "Vendor",
            "description": "Vendor"
        },
        {
            "name": "Product",
            "description": "Product"
        }
    ],
    "components": {
        "securitySchemes": {
            "sanctum": {
                "type": "apiKey",
                "description": "Enter token in format (Bearer <token>)",
                "name": "Authorization",
                "in": "header"
            }
        }
    }
}