{
    "openapi": "3.0.0",
    "info": {
        "title": "Medishop",
        "description": "Medishop Project",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.medishop.dworklabs.com/api/v1",
            "description": "Live API Server"
        },
        {
            "url": "http://192.168.100.23:8008/api/v1",
            "description": "Localhost API Server 1"
        },
        {
            "url": "http://127.0.0.1:8000/api/v1",
            "description": "Localhost API Server 2"
        },
        {
            "url": "http://192.168.100.18:8000/api/v1",
            "description": "Localhost API Server 3"
        }
    ],
    "paths": {
        "/vendor/dashboard": {
            "get": {
                "tags": [
                    "Vendor Dashboard"
                ],
                "summary": "Get vendor dashboard statistics",
                "description": "Retrieve vendor statistics including total uploaded products, assigned orders, delivered orders, and total earnings.",
                "operationId": "c2a74bca3ca6a2cbce8417b24227aca1",
                "responses": {
                    "200": {
                        "description": "Vendor dashboard statistics retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor dashboard statistics retrieved successfully."
                                        },
                                        "data": {
                                            "properties": {
                                                "total_uploaded_products_count": {
                                                    "description": "Total products uploaded and accepted by admin",
                                                    "type": "integer",
                                                    "example": 25
                                                },
                                                "total_assigned_orders_count": {
                                                    "description": "Total number of orders assigned to the vendor",
                                                    "type": "integer",
                                                    "example": 8
                                                },
                                                "total_delivered_orders_count": {
                                                    "description": "Total number of delivered orders",
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "total_vendor_earning": {
                                                    "description": "Total vendor earnings from delivered orders",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 15750.5
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized access"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/vendor/notifications": {
            "get": {
                "tags": [
                    "Vendor Notifications"
                ],
                "summary": "Get all vendor notifications",
                "description": "Fetch all notifications for the authenticated vendor, including the unseen notification count.",
                "operationId": "1bf087d5c562b431bea1f1ee8e5981cc",
                "responses": {
                    "200": {
                        "description": "List of vendor notifications retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor notifications fetched successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "unseen_count": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "notifications": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 12
                                                            },
                                                            "vendor_id": {
                                                                "type": "integer",
                                                                "example": 5
                                                            },
                                                            "title": {
                                                                "type": "string",
                                                                "example": "Order Assigned"
                                                            },
                                                            "message": {
                                                                "type": "string",
                                                                "example": "You have been assigned a new order #ORD-12345"
                                                            },
                                                            "is_seen": {
                                                                "type": "boolean",
                                                                "example": false
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-10-24T12:45:30Z"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing token"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/vendor/notifications/{id}/seen": {
            "post": {
                "tags": [
                    "Vendor Notifications"
                ],
                "summary": "Mark a vendor notification as seen",
                "description": "Mark a specific notification as seen for the authenticated vendor.",
                "operationId": "807e167c6702ee6c77cc867529d7e141",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Notification ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Notification marked as seen successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Notification marked as seen"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Notification not found"
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing token"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/vendor/orders": {
            "get": {
                "tags": [
                    "Vendor Orders"
                ],
                "summary": "Get list of assigned orders for the logged-in vendor",
                "operationId": "747e630009c98afa4c338e4108412efb",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page (default: 10)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by customer name, email, mobile, or address",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "John Doe"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of assigned orders retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "List of Assign Orders."
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 12
                                                            },
                                                            "order_code": {
                                                                "type": "string",
                                                                "example": "ORD-2025-001"
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 2500.75
                                                            },
                                                            "user_name": {
                                                                "type": "string",
                                                                "example": "John Doe"
                                                            },
                                                            "user_email": {
                                                                "type": "string",
                                                                "example": "john@example.com"
                                                            },
                                                            "order_items_count": {
                                                                "type": "integer",
                                                                "example": 3
                                                            },
                                                            "status": {
                                                                "type": "string",
                                                                "example": "pending"
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-10-20 12:30:00"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 50
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/vendor/orders/{order}": {
            "get": {
                "tags": [
                    "Vendor Orders"
                ],
                "summary": "Get detailed information about a specific assigned order",
                "operationId": "57354d89f137e8d8aeab07c3a199cbf9",
                "parameters": [
                    {
                        "name": "order",
                        "in": "path",
                        "description": "Order UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "55c9af7b-e7fb-4798-b3f6-3e76edc5cf2f"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Order detail of an order assigned to this vendor.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Order detail of an order assigned to this vendor."
                                        },
                                        "data": {
                                            "properties": {
                                                "order_code": {
                                                    "type": "string",
                                                    "example": "MuEXEv"
                                                },
                                                "user_type": {
                                                    "type": "string",
                                                    "example": "GUEST"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "James P. Sullivan"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "james.sullivan100@example.com"
                                                },
                                                "mobile": {
                                                    "type": "string",
                                                    "example": "9844521125"
                                                },
                                                "address": {
                                                    "type": "string",
                                                    "example": "Kamalpokhari, Kathmandu"
                                                },
                                                "latitude": {
                                                    "type": "string",
                                                    "example": "2.52144"
                                                },
                                                "longitude": {
                                                    "type": "string",
                                                    "example": "18.21554"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "some description of this order COD LZ"
                                                },
                                                "price": {
                                                    "type": "number",
                                                    "example": 4051.32
                                                },
                                                "payment_method": {
                                                    "type": "string",
                                                    "example": "Cash on Delivery"
                                                },
                                                "payment_status": {
                                                    "type": "string",
                                                    "example": "PAID"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "DELIVERED"
                                                },
                                                "order_item_status": {
                                                    "type": "string",
                                                    "example": "DELIVERED"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2025/11/24"
                                                },
                                                "ordered_items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "type": {
                                                                "type": "string",
                                                                "example": "product"
                                                            },
                                                            "prescription_required": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "prescription_image": {
                                                                "type": "string",
                                                                "example": "http://example.com/prescription.jpg"
                                                            },
                                                            "item_products": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "OIP_ID": {
                                                                            "type": "integer",
                                                                            "example": 9
                                                                        },
                                                                        "variant_id": {
                                                                            "type": "integer",
                                                                            "example": 15
                                                                        },
                                                                        "variant_name": {
                                                                            "type": "string",
                                                                            "example": "Psz"
                                                                        },
                                                                        "product_name": {
                                                                            "type": "string",
                                                                            "example": "Iste ea minus et dicta consequuntur."
                                                                        },
                                                                        "required_quantity": {
                                                                            "type": "integer",
                                                                            "example": 3
                                                                        },
                                                                        "assigned_batch_numbers": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "properties": {
                                                                                    "variant_id": {
                                                                                        "type": "integer",
                                                                                        "example": 15
                                                                                    },
                                                                                    "batch_number": {
                                                                                        "type": "string",
                                                                                        "example": "459962728"
                                                                                    },
                                                                                    "quantity": {
                                                                                        "type": "integer",
                                                                                        "example": 1
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            }
                                                                        },
                                                                        "batch_numbers": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "properties": {
                                                                                    "batch_number_id": {
                                                                                        "type": "integer",
                                                                                        "example": 15
                                                                                    },
                                                                                    "quantity": {
                                                                                        "type": "integer",
                                                                                        "example": 110
                                                                                    },
                                                                                    "batch_number": {
                                                                                        "type": "string",
                                                                                        "example": "459962728"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            }
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "order_item_id": {
                                                                "type": "integer",
                                                                "example": 5
                                                            },
                                                            "quantity": {
                                                                "type": "integer",
                                                                "example": 3
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "example": 1350.44
                                                            },
                                                            "subtotal": {
                                                                "type": "number",
                                                                "example": 4051.32
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Vendor Orders"
                ],
                "summary": "Update the status of an assigned order",
                "description": "Update the status of an assigned order.(values can be: 'PENDING','SHIPPED', 'DELIVERED')",
                "operationId": "d0d4d14d4119b329ff52427f8f553930",
                "parameters": [
                    {
                        "name": "order",
                        "in": "path",
                        "description": "Order ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "55c9af7b-e7fb-4798-b3f6-3e76edc5cf2f"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "status"
                                ],
                                "properties": {
                                    "status": {
                                        "description": "Order status",
                                        "type": "string",
                                        "enum": [
                                            "PENDING",
                                            "SHIPPED",
                                            "DELIVERED"
                                        ],
                                        "example": "DELIVERED"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Order status updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Order has been update successfull"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request data"
                    },
                    "404": {
                        "description": "Order not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/vendor/get-variant-batch-numbers/{id}": {
            "get": {
                "tags": [
                    "Vendor Orders"
                ],
                "summary": "Get list of batch numbers of a product variant",
                "operationId": "e7a8580ded2cd6dcf8062035c026ebe4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Variant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of available variants batch.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "List of available variants batch."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "batch_number_id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "batch_number": {
                                                        "type": "string",
                                                        "example": "776033374"
                                                    },
                                                    "stock_left": {
                                                        "type": "integer",
                                                        "example": 129
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/vendor/order-items/batch-assign/{uuid}": {
            "post": {
                "tags": [
                    "Vendor Orders"
                ],
                "summary": "Assign batch on order item product.",
                "description": "Assign batch on order item product.",
                "operationId": "b9cb182aaae2c07d88d295d7e63a20cd",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Order UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "bc1b2da8-f8a2-4914-83bb-e4437ca655ad"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "required": [
                                        "OIP_ID",
                                        "batch_numbers"
                                    ],
                                    "properties": {
                                        "OIP_ID": {
                                            "description": "Order Item Product ID",
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "batch_numbers": {
                                            "description": "List of batch numbers with quantities",
                                            "type": "array",
                                            "items": {
                                                "required": [
                                                    "batch_number_id",
                                                    "quantity"
                                                ],
                                                "properties": {
                                                    "batch_number_id": {
                                                        "description": "ID of the batch number",
                                                        "type": "integer",
                                                        "example": 120
                                                    },
                                                    "quantity": {
                                                        "description": "Quantity taken from this batch number",
                                                        "type": "integer",
                                                        "example": 2
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Batch number allocated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Batch number allocated successfully"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/vendor/registration": {
            "post": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Store a vendor",
                "description": "Registration api of a vendor.",
                "operationId": "StoreVendor",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "store_name",
                                    "store_description",
                                    "location",
                                    "country",
                                    "state",
                                    "district",
                                    "municipality",
                                    "postal_code",
                                    "bank_name",
                                    "bank_account_holder_name",
                                    "bank_account_number",
                                    "vendor_citizenship_card",
                                    "vendor_business_license",
                                    "vendor_tax_certificate",
                                    "name",
                                    "email",
                                    "mobile_number"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Dave Chappelle"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "dev.chappelle@mailinator.com"
                                    },
                                    "mobile_number": {
                                        "type": "string",
                                        "example": "9452114525"
                                    },
                                    "store_name": {
                                        "type": "string",
                                        "example": "Lilly Lee Store"
                                    },
                                    "store_description": {
                                        "type": "string",
                                        "example": "Lilly Lee Store Description"
                                    },
                                    "location": {
                                        "type": "string",
                                        "example": "Maharajgunj"
                                    },
                                    "country": {
                                        "type": "string",
                                        "example": "Nepal"
                                    },
                                    "state": {
                                        "type": "string",
                                        "example": "Bagmati Province"
                                    },
                                    "district": {
                                        "type": "string",
                                        "example": "Kathmandu"
                                    },
                                    "municipality": {
                                        "type": "string",
                                        "example": "Budhanilkantha Municipality"
                                    },
                                    "postal_code": {
                                        "type": "string",
                                        "example": "4528"
                                    },
                                    "bank_name": {
                                        "type": "string",
                                        "example": "Laxmi Sunrise"
                                    },
                                    "bank_account_holder_name": {
                                        "type": "string",
                                        "example": "Laxmi Thapa"
                                    },
                                    "bank_account_number": {
                                        "type": "string",
                                        "example": "21547741201300157899"
                                    },
                                    "vendor_citizenship_card": {
                                        "description": "Multiple image files to upload vendor citizenship card",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "vendor_business_license": {
                                        "description": "Multiple image files to upload vendor business license",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "vendor_tax_certificate": {
                                        "description": "Multiple image files to upload vendor tax certificate",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Vendor added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor has been registered. please check your email to verify"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/vendor/available-product": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get all currently available products.",
                "description": "Get all currently available products.",
                "operationId": "AvailableProductList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number of list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items on each page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Items to search",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Savlon"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Available product lists.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Available product lists."
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "product_uuid": {
                                                                "type": "string",
                                                                "example": "19a8e9db-2f17-40a6-ae8d-1fe3c75ba62d"
                                                            },
                                                            "product_name": {
                                                                "type": "string",
                                                                "example": "Porro rerum autem aut odit."
                                                            },
                                                            "brand": {
                                                                "type": "string",
                                                                "example": "Bayer"
                                                            },
                                                            "variations": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "integer",
                                                                            "example": 1
                                                                        },
                                                                        "name": {
                                                                            "type": "string",
                                                                            "example": "Variant-1"
                                                                        },
                                                                        "size_value": {
                                                                            "type": "integer",
                                                                            "example": 100
                                                                        },
                                                                        "size_unit": {
                                                                            "type": "string",
                                                                            "example": "l"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 501
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 501
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/vendor/product-variants/{uuid}": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get products variants",
                "description": "Get products variants.",
                "operationId": "VendorProductVariant",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of a product",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "54115543-b75c-4013-bf19-7aa4efd35240"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Available product lists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Available product lists"
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "status": {
                                                                "description": "Product status (1=active, 0=inactive)",
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "is_approved_by_admin": {
                                                                "description": "Approval status by admin",
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Laborum sunt facilis odio enim alias."
                                                            },
                                                            "uuid": {
                                                                "type": "string",
                                                                "format": "uuid",
                                                                "example": "54115543-b75c-4013-bf19-7aa4efd35240"
                                                            },
                                                            "brand": {
                                                                "type": "string",
                                                                "example": "Pfizer"
                                                            },
                                                            "views_count": {
                                                                "type": "integer",
                                                                "example": 0
                                                            },
                                                            "total_units_in_stock": {
                                                                "type": "integer",
                                                                "example": 753
                                                            },
                                                            "rating": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 2.5
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 96
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 96
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/vendor/product-list": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "fetch list of vendor products.",
                "description": "fetch list of vendor products.",
                "operationId": "VendorProductList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number of list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items on each page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Product name to search",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Savlon"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vendor stocked product lists.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor stocked product lists."
                                        },
                                        "data": {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "accepted": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "product_uuid": {
                                                                "type": "string",
                                                                "example": "cb7c026b-9cab-435f-912a-f4d498e45628"
                                                            },
                                                            "product_name": {
                                                                "type": "string",
                                                                "example": "Quam consequatur porro ex ullam optio dolorum."
                                                            },
                                                            "brand": {
                                                                "type": "string",
                                                                "example": "Novartis"
                                                            },
                                                            "variations": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "product_variation_id": {
                                                                            "type": "integer",
                                                                            "example": 69
                                                                        },
                                                                        "vendor_price": {
                                                                            "type": "number",
                                                                            "format": "float",
                                                                            "example": 3793
                                                                        },
                                                                        "units_in_stock": {
                                                                            "type": "integer",
                                                                            "example": 195
                                                                        },
                                                                        "variant_name": {
                                                                            "type": "string",
                                                                            "example": "Variant-5"
                                                                        },
                                                                        "variant_size_value": {
                                                                            "type": "string",
                                                                            "example": "500.00"
                                                                        },
                                                                        "variant_size_unit": {
                                                                            "type": "string",
                                                                            "example": "patch"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 1
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/vendor/product/{uuid}": {
            "post": {
                "tags": [
                    "Product"
                ],
                "summary": "Add stock for vendor products",
                "description": "Add stock details for product variations.NOTE: creates if variant does not exists but if it does adds that stock",
                "operationId": "AddVendorStock",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of a product",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "54115543-b75c-4013-bf19-7aa4efd35240"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "product_uuid": {
                                        "type": "string",
                                        "example": "b12b5484-4f28-4390-ae92-cba32de96759"
                                    },
                                    "variations": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "product_variation_id": {
                                                    "type": "integer",
                                                    "example": 19
                                                },
                                                "units_in_stock": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "price": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 100
                                                },
                                                "variant_manufacturer": {
                                                    "type": "string",
                                                    "example": "some menufacture detail goes here"
                                                },
                                                "variant_batch_no": {
                                                    "type": "string",
                                                    "example": "12ED311"
                                                },
                                                "variant_expiry_date": {
                                                    "type": "sate",
                                                    "example": "2025-11-17"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Stock added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Stock added successfully."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/vendor/product-detail/{uuid}": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get details of a vendors product.",
                "description": "Get details of a vendors product.",
                "operationId": "VendorProductDetail",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of a product",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "c413e2db-9126-4a94-8da5-8756360867ec"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vendor product detail response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor product list detail."
                                        },
                                        "data": {
                                            "properties": {
                                                "accepted": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "product_name": {
                                                    "type": "string",
                                                    "example": "Omnis ab beatae animi sunt."
                                                },
                                                "product_detail": {
                                                    "type": "string",
                                                    "example": "<p>Aspernatur dolorum eos deleniti...</p>"
                                                },
                                                "prescription_required": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "brand_name": {
                                                    "type": "string",
                                                    "example": "AstraZeneca"
                                                },
                                                "variations": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "variant_name": {
                                                                "type": "string",
                                                                "example": "Variant-1"
                                                            },
                                                            "size_value": {
                                                                "type": "string",
                                                                "example": "100.00"
                                                            },
                                                            "size_unit": {
                                                                "type": "string",
                                                                "example": "strip"
                                                            },
                                                            "units_in_stock": {
                                                                "type": "integer",
                                                                "example": 130
                                                            },
                                                            "vendor_price": {
                                                                "type": "number",
                                                                "example": 2451
                                                            },
                                                            "batch_number": {
                                                                "type": "integer",
                                                                "example": 633036334
                                                            },
                                                            "manufacture": {
                                                                "type": "string",
                                                                "example": "5368 Elna Viaduct Apt. 594\\nSouth Leilanifurt, LA 59129"
                                                            },
                                                            "expiry_date": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "2027-11-24"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/vendor/product-delete/{uuid}": {
            "delete": {
                "tags": [
                    "Product"
                ],
                "summary": "Delete a vendor product.",
                "description": "Delete a vendor product.",
                "operationId": "VendorProductDelete",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of product to delete",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vendor product has been removed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Vendor product has been removed."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        }
    },
    "tags": [
        {
            "name": "Vendor Dashboard",
            "description": "Vendor Dashboard"
        },
        {
            "name": "Vendor Notifications",
            "description": "Vendor Notifications"
        },
        {
            "name": "Vendor Orders",
            "description": "Vendor Orders"
        },
        {
            "name": "Vendor",
            "description": "Vendor"
        },
        {
            "name": "Product",
            "description": "Product"
        }
    ],
    "components": {
        "securitySchemes": {
            "sanctum": {
                "type": "apiKey",
                "description": "Enter token in format (Bearer <token>)",
                "name": "Authorization",
                "in": "header"
            }
        }
    }
}